ul, ol {
	list-style: none;
}

.gridster {
	font-family: Segoe UI, Arial;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: rgb(220, 220, 220);
	float: left;
	opacity: 1.0;
	-webkit-transition: opacity .6s;
	-moz-transition: opacity .6s;
	-o-transition: opacity .6s;
	-ms-transition: opacity .6s;
	transition: opacity .6s;
}

.gridster ul {
	background-color: rgb(220, 220, 220);
    margin: 0 0;
}

.gridster .gs_w {
	position: relative;
	background-color: #FFF !important;
	display: block;
	min-height: 100%;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
	-webkit-transition: box-shadow 0.5s linear;
	-moz-transition: box-shadow 0.5s linear;
	-ms-transition: box-shadow 0.5s linear;
	-o-transition: box-shadow 0.5s linear;
	transition: box-shadow 0.5s linear;
}


.gridster .gs_w.glow {
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.gridster .gs_w_icon_db {
	display: block;
	float: left;
	width: 35px;
	height: 35px;
}
.gridster .gs_w_icon_db img {
	width: 35px;
	height: 35px;
}
.gridster .gs_w_title {
    display: block;
    min-height: 25px;
	font-family: Segoe UI;
    font-weight: bold;
    font-size: 10pt;
    padding: 5px 35px 3px 20px;
	overflow: hidden;
	color: white;
	text-align: left;
	white-space: nowrap;
    text-overflow:ellipsis;
	z-index: 5;
}

.gridster .gs_w_handler {
    cursor: move;
}

.gridster .gs_w_title:hover {
    color: black !important;
}

.gridster .gs_w_rm_btn {
	position: absolute;
	right: 0px;
	top: 3px;
	float: right;
	cursor: pointer !important;
	z-index: 100;
    color: white;
}

.gridster .gs_w_rm_btn:hover {
    color: black;
}

.gridster .player {
	-webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}


.gridster .gs_w.try {
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: 37px -169px;
}
.gridster .gs_w_dbholder {
	position: absolute;
	display: block;
    height: 100%;
    width: 100%;
}

.gridster .gs_w_obj {
	width: 100%;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	height: 100%;
	bottom: 0px;
	overflow: hidden;
	display: block;
	color: black;
	background-color: Transparent;
    padding-top: 25px;
}

.gridster a {
	text-decoration: none;
}

.message {
	font-family: Segoe UI,Arial;
	width: 1020px;
	background-color: rgb(255, 255, 170);
}

.message h1 {
}

.message a {
	color: #a0a02f;
	text-decoration: none;
}
