﻿/* font settings */

body, table, select, input, textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    color: #000000;
}

a, a span {
    text-decoration: none;
    color: #2278ff;
    padding: 4px 8px;
}

/* default settings for HTML elements */

body {
    background-color: white;
    margin: 0px 0px 0px 0px;
    min-width: 900px;
}

img {
    border: none;
    vertical-align: middle;
}

/* fields */
.field-caption {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 10pt;
    color: #666666;
}


.field-error input, .field-error select, .field-error textarea {
    background-color: #ffcccc;
    color: #cc0000;
}

.field-required, .field-required input, .field-required select, .field-required textarea, .field-required .field-caption {
    color: #07f;
}

.field-search {
    color: #777777;
}

.field {
    padding-bottom: 8px;
    padding-right: 16px;
}

.field td {
    vertical-align: top;
}

.aspradio input {
    float: left;
}

.aspradio label {
    margin-left: 25px;
    margin-bottom: -12px;
    display: block;
}

.aspcheck input {
    float: left;
}

.aspcheck label {
    margin-left: 25px;
    display: block;
}

.field-textbox {
    padding-bottom: 8px;
    padding-right: 16px;
}

.field-textbox tr {
    vertical-align: top;
}

.field-textbox select, .field-textbox input, .field-textbox textarea {
    border: solid 1px #bbbbbb;
    padding: 2px 2px 2px 2px;
    background-color: White;
}

.field-textbox-large {
    font-size: 15pt;
    padding-bottom: 8px;
}

.field-textbox-large input {
    color: Black;
    border: solid 1px #bbbbbb;
    padding: 2px 2px 2px 2px;
    background-color: White;
    font-size: 15pt;
}

.field-textbox-autocomplete a {
    padding: 0px 2px 0px 2px;
    color: Black;
    background-color: White;
    cursor: hand;
    text-decoration: none;
    display: block;
    width: 100%;
}

textarea {
    resize: none;
}


.field-black {
    color: black;
    border: solid 1px #bbbbbb;
    padding: 0px 2px 0px 2px;
    background-color: white;
}


.field-errormessage {
    display: inline-block;
    padding: 2px 4px 2px 4px;
    color: red;
    font-size: 10pt;
    font-weight: bold;
}

.field-error, .field-error .field-caption {
    color: #cc0000;
}

.field-hint {
	font-family: Segoe UI, Arial;
    font-size: 10pt;
    color: Gray;
}

.hint-small-letter-i {
    padding: 0px 8px;
    font: bold 13px/16px Georgia, serif !important;
    background: none;
    color: #626262 !important;
    text-shadow: none;
    border: 1px solid #C2C2C2;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, #FFF, #E2E2E2);
    background-image: -moz-linear-gradient(top, #FFF, #E2E2E2);
    background-image: -ms-linear-gradient(top, #FFF, #E2E2E2);
    background-image: -o-linear-gradient(top, #FFF, #E2E2E2);
    background-image: linear-gradient(top, #FFF, #E2E2E2);
    background-clip: padding-box;
}

br {
    clear: both;
}


.separator {
    font-family: Segoe UI Semibold, Arial;
    font-size: 18pt;
    color: #444;
    padding: 0px 0px 2px 0px;
    margin: 20px 0px 20px -36px;
    clear: both;
    /* border-bottom: solid 2px #cccccc;*/
}

.separator-line hr {
    margin: 0 0 0 0;
    height: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #aaaaaa;
    padding: 0 0 0 0;
}

.separator hr {
    margin: 0 0 0 36px;
    margin-left: +36px;
    height: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px #cccccc;
    padding: 0 0 0 0;
}

.treeview {
    background-color: #e6e6fa;
}

.treenode {
    color: Gray;
}

.treenode a {
    color: blue;
}

.webpart-zonecontainer {
    padding: 0px 5px 0px 5px;
    border-left: dashed 1px gray;
}

.webpart-zonecontainerleft {
    padding: 0px 5px 0px 5px;
    background-color: #f8f8f8;
}

.homediv {
    border: solid 1px #e2e2e2;
    background-color: #f8f8f8;
    padding: 6px 6px 6px 6px;
}

.hometitle {
    background-color: #626262;
    padding: 6px 9px 6px 9px;
    margin-bottom: 7px;
    font-size: 11pt;
    font-weight: bold;
}

.contextmenu {
    width: 200px;
    border: solid 1px #777777;
    background-color: #eeeeee;
    padding: 5px 5px 3px 5px;
}

.contextmenu div {
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.contextmenu div a {
    margin-bottom: 2px;
    padding-bottom: 2px;
    background-color: #eeeeee;
    display: inline;
    color: #39639d;
    text-decoration: underline;
}

.searchabledropdown {
    padding-bottom: 8px;
    padding-right: 16px;
}

.searchabledropdown div a {
    padding: 0px 2px 0px 2px;
    color: Black;
    background-color: White;
    cursor: hand;
    text-decoration: none;
    display: block;
    width: 100%;
}

.sddnormal {
    border: solid 1px silver;
    background-color: white;
    padding: 2px 2px 2px 2px;
    background-image: url('../../images/sdd0.gif');
    background-repeat: no-repeat;
    background-position: right;
}

.sddhover {
    border: solid 1px black;
    background-color: white;
    padding: 2px 2px 2px 2px;
    background-image: url('../../images/sdd1.gif');
    background-repeat: no-repeat;
    background-position: right;
}

.sddsearch {
    border: solid 1px black;
    background-color: white;
    padding: 2px 2px 2px 2px;
    background-image: url('../../images/sdds.gif');
    background-repeat: no-repeat;
    background-position: right;
}

.menu {
    color: white;
    background-color: #00102f;
    border: none;
    font-size: 12pt;
    text-align: right;
}

.menulogo {
    float: left;
    padding-left: 10px;
}

.home-linkbutton, .home-linkbutton:hover {
    background-color: transparent;
}

.menu-logo {
    background-repeat: no-repeat;
    width: 500px;
}

.menu-apptop {
    background-color: #000;
}

.menu-top a, .menu-top a:visited, .menu-top a:visited {
    color: #2af;
    text-decoration: none;
}

.menu-top {
    padding: 6px 0;
}

.menu-staticitem a {
    text-decoration: none;
    display: inline-block;
    color: #bbbbbb;
    font-size: 11pt;
    cursor: pointer;
    text-transform: lowercase;
    padding: 5px 12px 5px 12px;
    height: 18px;
    border-bottom: solid 4px black;
}

.menu-staticitem a:hover, .menu-staticitem a:active {
    color: white;
    font-size: 11pt;
    cursor: pointer;
    text-transform: lowercase;
    padding: 5px 12px 5px 12px;
    height: 18px;
    border-bottom: solid 4px white;
}

.menu-dropdown {
    background-color: white;
    border-top: solid 1px white;
    border-bottom: solid 2px white;
    z-index: 1000000;
}

.menu-dropdown-templates {
    background-color: Transparent;
    z-index: 1000000;
}

.menu-dynamicitemheader {
    display: inline-block;
    background-color: #0058b3;
    color: white;
    font-size: 14pt;
    cursor: default;
    padding: 8px 24px 8px 16px;
    width: 100%;
}

a.menu-dynamicitem {
    text-decoration: none;
    display: inline-block;
    background-color: #107FC9;
    border-bottom: solid 1px #0E4EAD;
    color: white;
    font-size: 12pt;
    cursor: pointer;
    padding: 8px 24px 8px 16px;
    width: 100%;
}

    a.menu-dynamicitem:hover, a.menu-dynamicitem:active {
    background-color: black;
    border-bottom: solid 1px #0E4EAD;
    color: white;
    cursor: pointer;
    padding: 8px 24px 8px 16px;
}

a.menu-dynamicitem2 {
    text-decoration: none;
    display: inline-block;
    background-color: #0058b3;
    border-bottom: solid 1px #004080;
    color: white;
    font-size: 10pt;
    cursor: pointer;
    padding: 8px 24px 8px 16px;
    width: 100%;
}

    a.menu-dynamicitem2:hover, a.menu-dynamicitem2:active {
    background-color: black;
    border-bottom: solid 1px #004080;
    color: white;
    cursor: pointer;
    padding: 8px 24px 8px 16px;
}


.hint {
    padding-top: 8px;
    padding-bottom: 8px;
}

.hint table {
    border-top: solid 1px #dddd88;
    border-bottom: solid 4px #dddd88;
    background-color: #ffffbb;
}

.hint table table {
    border: solid 1px #eeeeaa;
    background-color: white;
}

.grid-outer table {
    empty-cells: show;
    border-collapse: collapse; /* solves IE7 empty cells problem */
}

.grid {
    border: none;
}

.grid-headerscrollable {
    background-color: #eeeeee;
    color: #555555;
}

.grid-rowscrollable {
    border-left: solid 1px #cfcfcf;
    border-right: solid 1px #cfcfcf;
    border-bottom: solid 1px #cfcfcf;
}

.grid-footerscrollable {
    border-top: solid 2px #aaaaaa;
    border-bottom: solid 1px #cccccc;
}

.grid-caption {
    color: #444;
}

.grid-caption div {
    font-weight: bold;
    font-size: 12pt;
    padding: 0px 0px 2px 0px;
    margin: 8px 0px 0px 0px;
    clear: both;
}

.grid-caption-error div, .grid-caption-error img {
    border-bottom: solid 1px #cfcfcf;
    font-weight: bold;
    font-size: 10pt;
    padding: 0px 0px 2px 0px;
    margin: 8px 0px 0px 0px;
    clear: both;
}


.grid-caption-error {
    color: #cc0000;
}

.grid-command {
    padding: 6px 0px 6px 0px;
    border: none;
}

.grid-header {
    color: black;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 9pt;
    /*background-color: #ddeeff;*/
    /*background-color: White;*/
    vertical-align: top;
}

.grid-header a, .grid-header a:hover, .grid-header a:visited {
    font-weight: normal;
    color: #666;
    text-decoration: underline;
    background-color: transparent;
    padding: 0;
}

.grid-header th, .grid-header td {
    white-space: normal;
    font-weight: normal;
    color: #666;
    /*border-top: solid 1px #66aaff;
    border-bottom: solid 1px #66aaff;
    border-left: dotted 1px #66aaff;
    border-right: dotted 1px #66aaff;*/
    border-top: none;
    border-bottom: solid 2px #777;
    border-left: dotted 1px #444;
    border-right: dotted 1px #444;
    padding: 6px 8px 6px 8px;
    font-size: 12pt;
}


.grid-footer {
    border-top: solid 2px #cccccc;
    border-bottom: solid 1px #cccccc;
}

.grid-footer td {
    font-weight: bold;
    border: none;
    height: 16px;
    border-bottom: solid 1px #dddddd;
    border-right: solid 1px transparent;
	padding: 4px 8px;
}


.grid-row {
    border: none;
}

.grid-row td {
    border-bottom: solid 1px #cccccc;
    border-right: solid 1px transparent;
    white-space: normal;
    padding: 6px 8px;
    height: 20px;
    font-size: 12pt;
}

.grid-emptyrow td {
    height: 20px;
    border-bottom: solid 1px #cccccc;
    white-space: normal;
    text-align: center;
    vertical-align: middle;
    color: Gray;
}

.grid-row td table {
    border: none;
    padding: 0 0 0 0;
    height: auto;
}

.grid-row td table td {
    padding: 0 0 0 0;
    border: none;
    height: auto;
}

.grid-pager {
    padding-bottom: 20px;
    table-layout: fixed;
}

.grid-pager td {
    padding: 2px 4px 8px 0px;
    border: none;
}


.grid-pager td div {
    display: inline-block;
    float: left;
}

.grid-pager td div,
.grid-pager td div table,
.grid-pager td div table td {
    border: none;
}

.grid-pager a {
    display: inline-block;
    padding-top: 8px;
    height: 26px;
    width: 34px;
    text-align: center;
    border-left: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
    color: black;
    text-decoration: none;
}

.grid-pager a:hover {
    border-left: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
    background-color: #eeeeee;
    color: #0077ff;
}

.grid-pager span {
    display: inline-block;
    padding-top: 8px;
    height: 26px;
    width: 34px;
    text-align: center;
    border-left: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
    background-color: #dddddd;
    color: black;
    font-weight: bold;
}




.div-form {
    border: none;
    background-color: white;
    padding: 12px 12px 12px 12px;
}

.div-main {
    padding: 0 0px 0 0;
    background-color: #f9f9f9;
}

.div-tree {
    background-color: white;
}


.task-title {
    font-weight: bold;
    color: white;
    background-color: #3377ff;
    height: 20px;
}

.task-header {
    font-weight: bold;
    color: White;
    background-color: #66ccff;
    height: 20px;
}

.task-urgentitem {
    color: red;
}

.task-item {
    height: 20px;
}

.task-altitem {
    height: 20px;
    background-color: #eeece1;
}

.tooltip-header {
    padding: 2px 2px 2px 2px;
    background-color: #aaddff;
    border: solid 1px #aaddff;
}

.tooltip-body {
    padding: 2px 2px 2px 2px;
    background-color: white;
    border: solid 1px #aaddff;
}


.object-top {
    /*background-image:url(../../images/edit-top-corporate.gif);*/
    /*background-position: bottom;*/
    height: 20px;
    padding: none;
    background-color: white;
}

.object-workflow .field-caption, .object-workflow a {
    color: White;
    font-weight: normal;
}


.object-workflow, .object-workflow table {
    color: White;
    font-weight: bold;
}

.object-workflow td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.object-caption {
    font-family: Segoe UI Semibold, Arial;
    font-size: 17pt;
    text-transform: uppercase;
    color: black;
}

.subobject-buttons {
    padding: 10px 10px 5px 10px;
    background-color: #4DBCE9;
}

.object-buttons-div {
}

.object-buttons {
    box-sizing: border-box;
    padding: 10px 30px 10px 30px;
}

.object-buttons table {
    width: 100%;
}

.object-buttons-fixed {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    min-width: 900px;
}

/* search page */

.search-caption {
    font-size: 17pt;
    color: #0077ff;
    padding-top: 20px;
}

.search-hint {
    font-size: 10pt;
    color: #777777;
    display: block;
    padding-bottom: 3px;
}

.search-icon {
    background-image: url(../../images/page-search.jpg);
    background-repeat: no-repeat;
    background-position: top left;
}



/* report */

.reportpage {
    background-color: #f0f0f0;
}

.report-name {
    background-color: #3D6A90;
    padding: 20px 20px 10px 20px;
}

.report-name table {
    font-family: Century Gothic, Arial;
    color: #f0f0f0;
    font-size: 18pt;
    font-weight: bold;
}

.report-buttons {
    background-color: #3D6A90;
    padding: 10px 100px 5px 100px;
}

.div-report {
    padding-left: 130px;
    padding-right: 50px;
}

.object-message, .search-message {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px black;
    background-color: #ffffaa;
    z-index: 1000000;
}

.gantt- .gantt-PendingAssignment,
.gantt-PendingHelpdesk,
.gantt-PendingPlanning {
    height: 16px;
    border: solid 1px black;
	font-family:Arial;
    font-size: 9pt;
    background-color: #bbbbff;
}

.gantt-PendingApproval {
    height: 16px;
    border: solid 1px black;
	font-family:Arial;
    font-size: 9pt;
    background-color: #bbbbff;
}

.gantt-PendingAssignment {
    height: 16px;
    border: solid 1px black;
	font-family:Arial;
    font-size: 9pt;
    background-color: #bbbbff;
}

.gantt-PendingExecution {
    height: 16px;
    border: solid 1px black;
	font-family:Arial;
    font-size: 9pt;
    background-color: #bbffbb;
}


.gantt-Rejected,
.gantt-Cancelled,
.gantt-Close {
    height: 16px;
    border: solid 1px black;
	font-family:Arial;
    font-size: 9pt;
    background-color: #eeeeee;
}

.gantt-PendingClosure {
    height: 16px;
    border: solid 1px black;
	font-family:Arial;
    font-size: 9pt;
    background-color: #bbffff;
}

.gantt-background {
    background-color: #ffffff;
    border: solid 1px #cccccc;
	font-family:Arial;
    font-size: 9pt;
    padding: 1px 1px 1px 1px;
    height: 0px;
}

.gantt-rangeheader {
    background-color: #dddddd;
    border: solid 1px #cccccc;
	font-family:Arial;
    font-size: 7pt;
    font-weight: normal;
    padding: 0px 1px 0px 1px;
    height: 0px;
    font-size: 1.2em;
    padding: 5px;
    font-weight: bold;
}

.gantt-today {
    background-color: #ddddff;
    border: solid 1px #cccccc;
	font-family:Arial;
    font-size: 9pt;
    padding: 1px 1px 1px 1px;
    height: 0px;
}

.gantt-weekend {
    background-color: #dddddd;
    border: solid 1px #cccccc;
	font-family:Arial;
    font-size: 9pt;
    font-weight: normal;
    padding: 1px 1px 1px 1px;
    height: 0px;
}

.gantt-title {
    padding: 5px;
    background-color: #dddddd;
    border: solid 1px #cccccc;
	font-family:Arial;
    font-size: 9pt;
    font-weight: normal;
    height: 0px;
    width: 200px;
    font-size: 1.2em;
}

.gantt-tooltip-body {
    width: 250px;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    padding: 2px 4px 2px 4px;
    font-size: 1em;
}

.gantt-tooltip-header {
    width: 260px;
    background-color: #ddddff;
    border: solid 1px #bbbbff;
    padding: 2px 4px 2px 4px;
    font-size: 1em;
    font-weight: bold;
}

.gantt-complete {
    height: 100%;
    background-color: green;
    color: White;
    text-align: center;
    font-size: 12px;
}

/*----------------------------------------------
 CSS for charts
----------------------------------------------*/

.chartsubmitbutton {
	font-family:Arial;
    font-size: 9pt;
    background-color: #ddddff;
    border: solid 1px #608161;
}

.chartdroparea {
	font-family:Arial;
    font-size: 9pt;
    color: black;
    border-style: groove;
    border-width: thin;
    padding: 2px;
}

.chartsetuparea {
	font-family:Arial;
    font-size: 9pt;
    color: black;
    border-bottom-width: 2px;
    border-bottom-style: ridge;
    padding: 2px;
}



.advancedreportagggroupheader {
    font-family: Arial;
    font-size: 9pt;
    color: #0000A3;
    background-color: #ddffdd;
    padding: 2px;
}

.advancedreportgroup {
    font-family: Arial;
    font-size: 9pt;
    color: black;
    background-color: #ffffdd;
    padding: 2px;
}

.advancedreportitem {
    font-family: Arial;
    font-size: 9pt;
    color: black;
    background-color: white;
    padding: 2px;
}

.reportgridpager {
    font-family: Arial;
    font-size: 9pt;
    color: black;
    padding: 4px;
}

.advancedreportaltitem {
    font-family: Arial;
    font-size: 9pt;
    color: black;
    background-color: #eeeeee;
    padding: 2px;
}

.reporttitle {
    background: transparent url(../../images/reportTop.gif) top left;
    font-weight: bold;
    font-size: 9pt;
    font-family: Arial;
    color: white;
    height: 25px;
}


.advancedreportungroupcolheader {
    font-family: Arial;
    font-size: 9pt;
    color: black;
    background-color: #ddddff;
}

.advancedreportgroupcolheader {
    font-family: Arial;
    font-size: 9pt;
    color: blue;
    background-color: #ddddff;
}


.advancedreportdropnormal {
    background-color: #ddddff;
}

.advancedreportdropover_agg {
    border: solid 1px #0000ff;
}

.advancedreportdropover_ungroup {
    border: solid 1px black;
    background-color: Black;
}


.advancedreportdropover_ungrouppivot {
    border: solid 1px black;
    background-color: Black;
}


.advancedreportdropover_groupY {
    border: solid 2px #7777ff;
    background-color: #7777ff;
}


.advancedreportdropover_groupx {
    border: solid 1px #7777ff;
    background-color: #7777ff;
}

.reportheaderbuttonnormal {
    font-weight: normal;
    font-size: 9pt;
    font-family: Arial;
    border: solid 1px #4A6F9B;
    cursor: pointer;
    height: 21px;
    height: 21px;
}


.reportheaderbuttonmouseover {
    font-weight: normal;
    font-size: 9pt;
    font-family: Arial;
    background-color: #6085B0;
    border: solid 1px #6085B0;
    cursor: pointer;
    height: 21px;
    width: 21px;
}

.advancedreportbuttonnormal {
    border: solid 1px #AED3F0;
    cursor: pointer;
    height: 21px;
    width: 21px;
    font-weight: normal;
    font-size: 9pt;
    font-family: Arial;
    background-color: #AED3F0;
}


.advancedreportbuttonmouseover {
    background-color: #8BBEE7;
    border: solid 1px #3F668F;
    cursor: pointer;
    height: 21px;
    width: 21px;
    font-weight: normal;
    font-size: 9pt;
    font-family: Arial;
}

.reportbarleft {
    font-weight: normal;
    font-size: 9pt;
    font-family: Arial;
    border-right-style: solid;
    border-right-color: #103B5D;
    border-right-width: 1px;
    border-top-style: solid;
    border-top-color: #103B5D;
    border-top-width: 1px;
    background-color: #AED3F0;
}

.reportbackground {
    border-top-width: 2px;
    border-top-style: groove;
    border-top-color: #5F3FD6;
    border-left-style: groove;
    border-left-width: 2px;
    border-left-color: #5F3FD6;
    border-right-style: inset;
    border-right-width: 2px;
    border-right-color: #6887BB;
    border-bottom-style: inset;
    border-bottom-width: 2px;
    border-bottom-color: #6887BB;
}

.reportbarright {
    font-weight: normal;
    font-size: 9pt
    font-family: Arial;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #103B5D;
    background-color: #AED3F0;
}

.leftpanelrow {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #103B5D;
}

.parallelviewdivide {
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #6887BB;
}

.tabstrip {
}

.tabstrip ul {
    margin: 0;
    list-style: none;
    font-size: 18pt;
    text-transform: lowercase;
    padding: 10px 0px 10px 0px;
}

.tabstrip li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.tabstrip a, .tabstrip a:visited {
    display: inline-block;
    padding: 0 0 5px 0;
    margin-right: 20px;
    text-decoration: none;
    color: #aaa;
    cursor: pointer;
}

.tabstrip a:hover, .tabstrip a:active {
    color: #333;
    background-color: transparent;
}

.tabstrip .selected a {
    color: #333;
}

.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=70);
    opacity: 0.7;
    z-index: 99999;
}

.modalPopup {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: Gray;
    padding: 8px 8px 8px 8px;
    width: 550px;
    z-index: 100000;
}


/*----------------------------------------
   v7.0 styles
----------------------------------------*/
.tabstrip-bg {
    background-color: inherit;
}

.tabmbl {
    background-color: #e7e7e7;
    border-bottom: solid 1px #f9f9f9;
}

.tabmbl a {
    text-decoration: none;
    color: #888888;
    display: block;
    padding: 7px 0px 7px 0px;
    cursor: pointer;
}

.selectedmbl {
    background-color: #e7e7e7;
    border-bottom: solid 1px #f9f9f9;
}

.selectedmbl a {
    text-decoration: none;
    background-color: #e7e7e7;
    color: Black;
    display: block;
    padding: 7px 0px 7px 0px;
    cursor: default;
}

.tab-ver {
    background-position: top right;
    background-repeat: no-repeat;
    background-color: #e7e7e7;
}

.tabstrip-ver {
    padding: 0px 0px 0px 0px;
    text-transform: lowercase;
    font-size: 13pt;
    font-weight: normal;
}

.tabstrip-ver td {
    vertical-align: top;
}

.tabstrip-ver ul {
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
}

.tabstrip-ver li {
    display: inline;
    margin: 0;
    padding: 0;
}

.tabstrip-ver a {
    text-decoration: none;
    color: #888;
    display: block;
    padding: 10px 0px 10px 29px;
    border-left: none;
    width: 170px;
    cursor: pointer;
}

.tabstrip-ver a:hover, .tabstrip-ver a:active {
    color: #2278ff;
}

.tabstrip-ver .selected a, .tabstrip-ver .selected a:hover, .tabstrip-ver .selected a:active {
    color: Black;
    padding: 10px 0px 10px 20px;
    border-left: solid 9px black;
    width: 170px;
}

.tabstrip-ver-content {
    background-color: #f9f9f9;
    border-left: solid 1px #999999;
}


/* ---- buttons ---- */

/* common styles */
.btn-d, .btn-d:hover, .btn-d:active,
.btnblack-d, .btnblack-d:hover, .btnblack-d:active,
.btnblue-d, .btnblue-d:hover, .btnblue-d:active,
.btngray-d, .btngray-d:hover, .btngray-d:active,
.btnblackpnmbl-d, .btnblackpnmbl-d:hover, .btnblackpnmbl-d:active,
.btnblackmbl-d, .btnblackmbl-d:hover, .btnblackmbl-d:active {
    opacity: 0.25;
    -moz-opacity: 0.25;
    filter: alpha(opacity=25);
}

.btn img, .btn-d img,
.btnblue img, .btnblue-d img,
.btngray img, .btngray-d img,
.btnblackpnmbl img, .btnblackpnmbl-d img,
.btnblackmbl img, .btnblackmbl-d img {
    width: 21px;
    height: 21px;
    vertical-align: bottom;
}

.btnblack img, .btnblack-d img {
    width: 21px;
    height: 21px;
    vertical-align: bottom;
}

.btn a, .btn span {
    text-decoration: none;
    color: #444;
    padding: 0;
}


/* standard button */

.btn, .btn:visited,
.btn-d, .btn-d:hover, .btn-d:active, .btn-d:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-image: none;
    padding: 6px 10px;
    margin-bottom: 5px;
    margin: 0 5px 5px 0;
    font-size: 12pt;
    color: #444;
    border: 1px solid #999;
    background-color: #e6e6e6;
}

.btn:hover {
    border: 1px solid #333;
}

/* black button */

.btnblack, .btnblack:visited,
.btnblack-d, .btnblack-d:hover, .btnblack-d:active, .btnblack-d:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-image: none;
    padding: 6px 12px;
    margin: 0 5px 5px 0;
    font-size: 13pt;
    font-weight: normal;
    color: white;
    border: 1px solid #777;
}

.btnblack span {
    color: white;
}

.btnblack:hover, .btnblack-d:hover {
    color: #aaa;
    background-color: transparent;
}

/* black (mobile) button for prev/next buttons */

.btnblackpnmbl, .btnblackpnmbl:visited,
.btnblackpnmbl-d, .btnblackpnmbl-d:hover, .btnblackpnmbl-d:active, .btnblackpnmbl-d:visited {
    width: 146px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-image: none;
    padding: 6px 12px;
    margin-bottom: 5px;
    font-size: 12pt;
    font-weight: normal;
    color: white;
    background-color: #224466;
    border: solid 1px #446688;
}

.btnblackpnmbl:hover {
    background-color: #6688aa;
    border: solid 1px #cccccc;
}

/* black (mobile) button for action buttons */

.btnblackmbl, .btnblackmbl:visited,
.btnblackmbl-d, .btnblackmbl-d:hover, .btnblackmbl-d:active, .btnblackmbl-d:visited {
    width: 320px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-image: none;
    padding: 6px 8px 6px 8px;
    margin-bottom: 5px;
    font-size: 12pt;
    font-weight: normal;
    color: white;
    background-color: #224466;
    border: solid 1px #446688;
}

.btnblackmbl:hover {
    background-color: #6688aa;
    border: solid 1px #cccccc;
}

/* blue button */

.btnblue, .btnblue:visited,
.btnblue-d, .btnblue-d:hover,
.btnblue-d:active, .btnblue-d:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-image: none;
    padding: 6px 8px 6px 8px;
    margin-bottom: 5px;
    font-size: 13pt;
    font-weight: normal;
    color: #fff;
    background-color: #3D6A90;
    border: 1px solid #aaa;
}

.btnblue:hover {
    color: #aaa;
}

/* gray button */
.btngray, .btngray:visited,
.btngray-d, .btngray-d:hover, .btngray-d:active, .btngray-d:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    background-image: none;
    padding: 6px 8px 6px 8px;
    margin-bottom: 5px;
    font-size: 11pt;
    font-weight: normal;
    color: #ffffff;
    background-color: gray;
    border: solid 1px gray;
}

.btngray:hover {
    background-color: #aaaaaa;
}




/* hyper links */

/* white */
.hlink-white, .hlink-white:hover, .hlink-white:active, .hlink-white:visited,
.hlink-white-d, .hlink-white-d:hover, .hlink-white-d:active, .hlink-white-d:visited {
    color: White;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 11pt;
    cursor: pointer;
    background-color: transparent;
}

/* gray */
.hlink-gray, .hlink-gray:hover, .hlink-gray:active, .hlink-gray:visited,
.hlink-gray-d, .hlink-gray-d:hover, .hlink-gray-d:active, .hlink-gray-d:visited {
    color: gray;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 9pt;
    cursor: pointer;
}

/* blue */
.hlink-blue, .hlink-blue:hover, .hlink-blue:active, .hlink-blue:visited,
.hlink-blue-d, .hlink-blue-d:hover, .hlink-blue-d:active, .hlink-blue-d:visited {
    color: #0077ff;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 9pt;
    cursor: pointer;
}

/* black */
.hlink-black, .hlink-black:hover, .hlink-black:active, .hlink-black:visited,
.hlink-black-d, .hlink-black-d:hover, .hlink-black-d:active, .hlink-black-d:visited {
    color: Black;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 9pt;
    cursor: pointer;
}

.hlink-white-d, .hlink-white-d:hover, .hlink-white-d:active, .hlink-white-d:visited,
.hlink-gray-d, .hlink-gray-d:hover, .hlink-gray-d:active, .hlink-gray-d:visited,
.hlink-blue-d, .hlink-blue-d:hover, .hlink-blue-d:active, .hlink-blue-d:visited,
.hlink-black-d, .hlink-black-d:hover, .hlink-black-d:active, .hlink-black-d:visited {
    opacity: 0.25;
    -moz-opacity: 0.25;
    filter: alpha(opacity=25);
}



.div-searchfom {
    border: solid 1px #dddddd;
    background-color: #f7f7f7;
    padding: 8px 8px 8px 8px;
    clear: both;
}

.div-edit {
    padding: 10px 50px 20px 74px;
}

.div-audit {
    padding: 12px 50px 12px 74px;
}

.div-status {
    text-align: center;
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
    font-size: 0pt;
    font-weight: normal;
    color: White;
}

.div-status .field span {
    font-size: 11pt;
}

.div-urgent-no {
    padding: 5px 5px 5px 10px;
    width: 110px;
    text-align: left;
    vertical-align: middle;
    border-left: solid 30px #f7f7f7;
    font-size: 1pt;
    font-weight: bold;
    color: #cccccc;
}

.div-urgent-no label {
    color: #cccccc;
    font-size: 14pt;
}

.div-urgent-no br {
    height: 0px;
}

.div-urgent-yes {
    padding: 5px 5px 5px 10px;
    width: 110px;
    text-align: left;
    vertical-align: middle;
    border-left: solid 30px red;
    font-size: 1pt;
    font-weight: bold;
    color: Red;
}

.div-urgent-yes label {
    color: Red;
    font-size: 14pt;
}

.div-objectbase {
    padding: 6px 0px 2px 0px;
}

.div-objectbase-int {
    padding: 0px 38px 0px 38px;
}

.div-tabbuttons {
    padding: 8px 8px 8px 8px;
}

.div-home {
    border: none;
    background-color: white;
    padding: 12px 40px 0px 56px;
    background-color: #ebebeb;
}

.homepage {
    background-color: #eeeeee;
}

.editpage {
    background-color: #f9f9f9;
    background-position: top;
    background-repeat: repeat-x;
}


.hint-top {
    padding: 8px 0px 8px 0px;
}

.hint-top table {
    border: solid 1px #cccc00;
    background-color: #ffffcc;
}

.span-inboxdate {
    padding-top: 3px;
    color: Gray;
    font-size: 7pt;
}

.subobject-panel {
    border: solid 5px #4DBCE9;
    background-color: #eef7ff;
    padding: 24px 50px 36px 74px;
}


.separator2 {
    background-color: #333;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    padding: 5px 0px 5px 0px;
    margin: 15px 0px 15px 0px;
    clear: both;
}

.separator-small {
    font-weight: bold;
    font-size: 9pt;
    padding: 0px 0px 2px 0px;
    margin: 8px 0px 12px 0px;
    clear: both;
}

.dialog {
    z-index: 1000000;
    position: fixed;
    top: 50%;
    left: 50%;
}

.dialog-bg {
    background-color: Black;
    filter: alpha(opacity=70);
    opacity: 0.7;
    z-index: 99999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.dialog-title {
    background-color: #f7f7f7;
    color: #333;
    font-weight: bold;
    font-size: 18pt;
    padding: 12px 30px 12px 30px;
    border-bottom: solid 1px #dddddd;
}

.dialog-title-closebutton {
    background-color: #f7f7f7;
    color: gray;
    font-size: 13pt;
    padding: 8px 8px 8px 8px;
    border-bottom: solid 1px #dddddd;
}

.dialog-title-closebutton a {
    color: #2278ff;
}

.dialog-main {
    background-color: #f7f7f7;
    padding: 20px 30px 20px 30px;
}

.dialog-buttons {
    background-color: #f7f7f7;
    padding: 12px 8px 12px 8px;
    text-align: center;
}

.div-audit table {
    font-size: 10pt;
    color: Gray;
}

.div-audit-int {
}

.div-indent {
    padding-left: 20px;
}

.text-right {
    text-align: right;
}



.stateBox {
    background-color: Pink;
    text-align: center;
    font-weight: bold;
    border: .1em solid #900;
    position: absolute;
    z-index: -1;
}

.stateBox-current {
    background-color: LightBlue;
    text-align: center;
    font-weight: bold;
    border: .1em solid #900;
    position: absolute;
    z-index: -1;
}

.actionBox {
    position: absolute;
    z-index: 4;
    background-color: white;
}

.stateBox div {
    font-size: 9px;
    font-weight: normal;
}

.stateBox-current div {
    font-size: 9px;
    font-weight: normal;
}


.text-sub {
	font-family: Tahoma;
    font-size: 8pt;
    color: Gray;
}

.object-base, .object-base input {
    font-size: 11pt;
    font-weight: bold;
}

/* month view calendar */
.monthv {
}

.monthv span {
    font-size: 8pt;
    font-weight: normal;
    color: Black;
    cursor: pointer;
}

.monthv-day-today {
    font-size: 13pt;
    font-weight: bold;
    min-height: 100px;
    border: solid 1px #dddddd;
    padding: 4px 8px 4px 8px;
}

.monthv-day-day {
    font-size: 13pt;
    min-height: 100px;
    border: solid 1px #dddddd;
    padding: 4px 8px 4px 8px;
}

.monthv-day-weekend {
    font-size: 13pt;
    min-height: 100px;
    border: solid 1px #dddddd;
    background-color: #ddeeff;
    padding: 4px 8px 4px 8px;
}

.monthv-day-othermonth {
    font-size: 13pt;
    min-height: 100px;
    border: solid 1px #dddddd;
    background-color: #eeeeee;
    color: #cccccc;
    padding: 4px 8px 4px 8px;
}

.monthv-dayheader {
    background-color: Silver;
    padding: 4px 8px 4px 8px;
    border: none;
}

.monthv-header {
    background-color: White;
    border: none;
}

.monthv-header td {
    background-color: White;
    border: none;
    font-size: 15pt;
    padding: 4px 20px 4px 20px;
}

.ajax__calendar_container {
    z-index: 1;
}


/* --- Desktop Menu --- */
.cssmenu ul,
.cssmenu li,
.cssmenu span,
.cssmenu a {
    margin: 0;
    padding: 0;
    position: relative;
    color: #ccc;
}

.cssmenu {
    height: 50px;
    padding: 2px;
    background: black;
    border-bottom: 0px;
    width: auto;
    /*overflow:hidden;*/
}

.cssmenu-scrollRight {
    z-index: 10001;
    height: 50px;
    background-color: #fff;
    position: absolute;
    right: 0;
    cursor: pointer;
    opacity: 0.4;
}
.cssmenu-scrollRight:hover {
    opacity: 0.8;
}
.cssmenu-scrollLeft {
    z-index: 10001;
    height: 50px;
    background-color: #fff;
    position: absolute;
    left: 0;
    cursor: pointer;
    opacity: 0.4;
}
.cssmenu-scrollLeft:hover {
    opacity: 0.8;
}

.cssmenu-item-label {
    display: inline-block;
    width: 120px;
}

.cssmenu-item-right {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.50;
    background-image: url(../../images/downcaret.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 40px;
    margin-top: 5px;
    border-left: 1px solid #aaa;
}

.cssmenu:after,
.cssmenu ul:after {
    content: '';
    background: black;
    display: block;
    clear: both;
}

.cssmenu a {
    background: black;
    color: #ccc;
    display: inline-block;
  font-family: Segoe UI, Arial;
    font-size: 16px;
    padding-left: 0 5px;
    text-decoration: none;
}

.cssmenu ul {
    background: black;
    list-style: none;
}

.cssmenu > ul {
    float: left;
}

.cssmenu > ul > li {
    float: left;
}

.cssmenu > ul > li > span {
    line-height: 40px;
    padding: 0 5px;
}

.cssmenu > ul > li > a {
    color: #ccc;
    width: 140px;
    height: 48px;
    word-wrap: normal;
    vertical-align: bottom;
    display: table-cell;
    padding-left: 5px;
    padding-bottom: 2px;
}

.cssmenu > ul > li.active > a {
    background: #0058b3;
    color: #fff;
}

.cssmenu > ul > li:hover > a {
    background: #0058b3;
    color: #fff;
}

.cssmenu > ul > li:hover > a .cssmenu-item-right {
    background-image: url(../../images/downcarethover.png);
    border-left: 1px solid #fff;
}
.cssmenu > ul li {
    height: 50px;
    display:inline;
} 

.cssmenu .has-sub {
}

.cssmenu .has-sub ul {
    display: none;
    position: fixed;
    width: 250px;
    left: 0px;
    top: 0px;
}

.cssmenu .has-sub ul li {
    *margin-bottom: -1px;
}

.cssmenu .has-sub ul li a {
    background: #0058b3;
    border-bottom: 1px dotted #fff;
    filter: none;
    font-size: 15px;
    display: block;
    line-height: 120%;
    padding: 10px 20px 10px 20px;
    color: #fff;
}

.cssmenu .has-sub ul li:hover a {
    background: #000;
    color: #fff;
}

.cssmenu .has-sub .has-sub ul {
    display: none;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
}

.cssmenu .has-sub > ul > .has-sub > a,
.cssmenu .has-sub > ul > .has-sub > a:hover {
    background-image: url(../../images/submenu.gif);
    background-position: center right;
    background-repeat: no-repeat;
}

.cssmenu .has-sub .has-sub ul li a {
    background: #0058b3;
    border-bottom: 1px dotted #fff;
    color: #fff;
    width: 210px;
}

.cssmenu .has-sub .has-sub ul li a:hover {
    background: #000;
    color: #fff;
}

.cssmenu > ul {
    z-index: 10000;
}

.cssmenu > ul > li > ul {
    z-index: 20000;
}

.cssmenu > ul > li > ul > li > ul {
    z-index: 30000;
}


/* --- Mobile Menu --- */
.cssmenum,
.cssmenum ul,
.cssmenum li,
.cssmenum a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
  font-family: Segoe UI, Arial;
    font-size: 14px;
    position: relative;
}

.cssmenum a {
    line-height: 1.3;
    padding: 6px 15px;
}

.cssmenum {
    width: 100%;
}

.cssmenum > ul > li {
    cursor: pointer;
    background-color: #000;
    border-bottom: 1px solid #555333;
}

.cssmenum > ul > li > a {
    font-size: 13px;
    display: block;
    color: #ffffff;
    background-color: black;
    padding: 9px 0px 9px 15px;
}

    /* Sub menu */
.cssmenum > ul > li > ul {
    padding: 0;
    display: none;
}

.cssmenum > ul > li > ul > li > ul {
    padding: 0;
    display: none;
}

.cssmenum ul ul a {
    background-color: #107FC9;
    display: block;
    color: white;
    font-size: 13px;
    padding: 9px 0px 9px 30px;
}

.cssmenum ul ul li {
    border-bottom: 1px solid #0E4EAD;
}

.cssmenum ul ul ul a {
    background-color: #0058b3;
    display: block;
    color: white;
    font-size: 13px;
    padding: 9px 0px 9px 45px;
}

.cssmenum .has-sub > a {
    background-image: url(../../images/submenu.gif);
    background-position: center right;
    background-repeat: no-repeat;
}

.cssmenum ul ul ul li {
    border-bottom: 1px solid #0E4EAD;
}


/*-----------------------
  Date Picker
-------------------------*/

#AUFCalSlide {
    overflow: hidden;
    width: 245px;
    height: 252px;
}

#AUFMYSlide {
    overflow: hidden;
}

#AUFCal, #AUFMY {
	font-family: Segoe UI, Arial;
    width: 245px;
    border: none;
    position: absolute;
    background-color: White;
    border: solid 1px #fff;
    box-shadow: 0 7px 40px rgba(0,0,0,0.8);
    -webkit-box-shadow: 0 7px 40px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 7px 40px rgba(0,0,0,0.8);
    z-index: 1000001;
}

#AUFMY {
    width: 245px;
}

#AUFCalHeader, #AUFMYHeader {
    color: white;
    background-color: #eee;
    height: 43px;
    width: 246px;
}

#AUFCalMonthYear, #AUFMYYear {
    padding-top: 3px;
}

#AUFCalLeft, #AUFCalRight, #AUFMYLeft, #AUFMYRight {
    width: 40px;
}

#AUFCalLeft a, #AUFMYLeft a,
#AUFCalRight a, #AUFMYRight a {
    padding-top: 8px;
    text-align: center;
    display: block;
    width: 40px;
    height: 32px;
    cursor: pointer;
}

#AUFCalLeft a div, #AUFMYLeft a div {
    display: inline-block;
    border: solid 6px transparent;
    border-right: solid 6px black;
}

#AUFCalRight a div, #AUFMYRight a div {
    display: inline-block;
    border: solid 6px transparent;
    border-left: solid 6px black;
}

#AUFCalMonthYear, #AUFMYYear {
    text-align: center;
    width: 200px;
}

#AUFCalWeeks td {
    color: #bbb;
    font-size: 12px;
}

#AUFCalCells, #AUFMYCells {
	font-family: Segoe UI, Arial;
    font-size: 12px;
    width: 245px;
    border-spacing: none;
    position: relative;
    top: 0px;
    left: 0px;
}

#AUFCalCells td, #AUFMYCells td {
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: center;
    font-size: 14px;
}

#AUFMYCells td {
    width: 60px;
    height: 60px;
}

#AUFCalCells a,
#AUFMYCells a {
    text-decoration: none;
    display: inline-block;
    padding-top: 8px;
    width: 18px;
    height: 22px;
    color: black;
    font-size: 14px;
}

#AUFMYCells a {
    padding-top: 22px;
    width: 40px;
    height: 36px;
}

#AUFCalToday, #AUFMYThisMonth {
    border-top: solid 1px #bbb;
    padding: 1px;
}

#AUFCalToday a,
#AUFMYThisMonth a {
    text-decoration: none;
    display: block;
    padding-top: 6px;
    height: 24px;
    color: #24A0DA;
}

#AUFCalCells a:hover,
#AUFMYCells a:hover,
#AUFCalToday a:hover,
#AUFMYThisMonth a:hover {
    color: white;
}

.AUFSel select, .AUFSelY select {
	font-family: Segoe UI, Arial;
    font-size: 16px;
    background: transparent;
    width: 90px;
    height: 33px;
    border: 0;
    color: black;
    line-height: 1;
    border-radius: 0;
    -webkit-appearance: none;
}

.AUFSel, .AUFSelY {
    display: inline-block;
    width: 60px;
    height: 33px;
    overflow: hidden;
    background: url('../../images/datepicker-dn.gif') no-repeat right transparent;
    border: none;
    color: white;
}

a.calsel {
    background-color: #24A0DA;
    color: white !important;
}

a.calnor {
    background-color: white;
    color: black;
}

.calnor:hover,
.calsel:hover,
#AUFCalToday a:hover,
#AUFMYThisMonth a:hover {
    background-color: #24A0DA;
}


.grid-dayheader {
    border: none;
    padding: 3px 3px 3px 3px;
    background-color: #eeece1;
}

.grid-day {
    text-align: center;
    padding: 3px 3px 3px 3px;
}

.grid-day-big {
    padding: 3px 3px 3px 3px;
}

.default-node {
	font-family: Segoe UI, Arial;
    font-size: 11pt;
    color: #888888;
    padding-top: 5px;
    padding-bottom: 5px;
}

.selected-node {
    font-weight: bold;
}

.hover-node {
    color: #2278ff;
}

.leaf-node {
    margin: 0px 0px 0px -19px;
}

.home-calendar {
    margin-bottom: 50px;
}

.home-calendar-cell {
	font-family: Segoe UI, Arial;
    font-size: 10pt;
    text-align: center;
    padding: 5px 3px 5px 3px;
    background-color: #ffffff;
    color: #000000;
}

.home-calendar-today {
    padding: 5px 3px 5px 3px;
}

.home-calendar-dayheader {
	font-family: Segoe UI, Arial;
    font-size: 10pt;
    border: none;
    padding: 3px 3px 3px 3px;
    background-color: silver;
}

.home-calendar-header {
    color: black;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 9pt;
    background-color: #ebebeb;
}

.home-calendar-weekend {
    text-align: center;
    padding: 3px 3px 3px 3px;
    background-color: #eeeeee;
}

.home-separator {
	font-family: Segoe UI, Arial;
    font-size: 15pt;
    color: #0077ff;
    padding: 0px 0px 2px 0px;
    margin: 0px 0px 0px 0px;
    clear: both;
}

.dashboard-tooltip-header {
    padding: 2px 10px 0px 5px;
    background-color: #0378b5 !important;
    white-space: nowrap;
    font-weight: bold;
    border: solid 0px #666;
    border-bottom: none;
    font-size: 1em;
    color: #FFF;
}

.dashboard-tooltip-body td {
    font-size: 1em;
}


.dashboard-tooltip-body {
    padding: 5px 10px 5px 5px;
    font-size: 1em;
    background-color: #0378b5 !important;
    color: #FFF;
    white-space: nowrap;
    border: solid 0px #666;
    border-top: none;
}

.collapsible-panel-container {
    margin: 0px 0px 10px 0px;
    position: static !important;
}

.collapsible-panel-collapsed {
    background: url('../../images/icon_plus.png') 10px center no-repeat #07F;
    display: block;
    border: 1px solid #666;
    padding: 6px 10px 6px 36px;
    margin-left: -36px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    color: #FFF;
    min-height: 15px;
}

.collapsible-panel-expanded {
    background: url('../../images/icon_minus.png') 10px center no-repeat #07F;
    display: block;
    border: 1px solid #666;
    padding: 6px 10px 6px 36px;
    margin-left: -36px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    color: #FFF;
    min-height: 15px;
}

/** Dashboard css  **/

.dashboard-container {
	font-family:Arial;
    width: 300px;
    float: left;
    border: solid 1px #9C9E73;
}

.dashboard-header {
	font-family:Arial;
    width: 300px;
    height: 20px;
    background-color: #C3C49C;
    font-weight: bold;
    color: black;
    vertical-align: middle;
}

.dashboard-iframe {
	font-family:Arial;
    width: 300px;
    height: 320px;
}

.dashboard-expand {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
    z-index: 99999;
    background-color: #fff;
}

.dashboard-expand-head{
    background: url('../../images/pinboard-icons/dashboard.png') no-repeat;
    background-color: #ccc;
    padding:5px 8px;
    font-size: 16px;
    text-align:center;
    font-weight:bold;
}

.dashboard-expand-close
{
    cursor:pointer;
    float: right;
    width: 34px;
    height: 33px;
    margin-top: -7px;
    margin-right: -8px;
    font-size: 20px;
}

.dashboard-expand-close:hover{
    color:white;
}

.dashboard-expand-overlay {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 99998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dashboard-popup-title {
    font-weight: bold;
    text-align: center;
    height: 25px;
    line-height: 25px;
    display: block;
    padding-top: 5px;
}

.dashboard-popup-close-btn {
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: 0;
    top: 0;
    position: absolute;
    font-size: x-large;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    color: black;
}

.dashboard-popup-close-btn:hover {
    color: #ccc;
    cursor: pointer;
}

.dashboard-popup-content {
    border: none;
    margin-top: 10px;
}

.field-treelist a, a span {
    padding: 0;
}

.field-treelist table {
    padding-bottom: 5px;
}

.field-datetime img {
    padding-left: 3px;
    padding-top: 6px;
    height: 16px;
    vertical-align: top;
    cursor: pointer;
}

.field-checkbox input {
    margin: 6px 3px 3px 4px;
}

.field-radio input {
    margin: 6px 3px 3px 4px;
}

.object-base-br {
    height: 10px;
}

.warning {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: orangered !important;
    background-color: #F6E3CE;
    background-image: url('../../images/warn-True.gif');
    font: 13px/16px !important;
    font-weight: bold;
}

.error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C !important;
    background-color: #FFBABA;
    background-image: url('../../images/delete-big.png');
    font: 13px/16px !important;
    font-weight: bold;
}

.asp-caption {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 10pt;
    color: #666666;
}

.search_limit_controls
{
    right: 0;
    width: 245px;
    position: absolute;
}




.treeview-inbox {
    width: 100%;
}
.treeview-inbox table {
    position: relative;
    empty-cells: show;
	border-collapse: separate;
    word-wrap: break-word;
    border-spacing: 0;
	border: none;
	color: #2c3e50;
}
.treeview-inbox table:hover { }
.treeview-inbox table tr td img {
	padding: 0.7rem 0.5rem 0.7rem 0;
	color: #626668;
	outline: none;
	empty-cells: show;
	overflow: hidden;
	text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow-multiline: ellipsis;
}

.treeview-inbox a.treenode {
    color: #2c3e50;
    display: block;
    outline: 0;
    text-transform: uppercase;
    width: 100%
}
.treeview-inbox td.treenode {
    width: 100%;
    padding: 0.7rem 0.5rem;
    border: solid 1px transparent
}
.treeview-inbox td.treenode.treenode-leaf {
    padding-left: 10px;
    padding-right: 0.2rem;
    font-size: 0.90em;
}

.treeview-inbox td.treenode.hover,    
.treeview-inbox td.treenode.selected,
.treeview-inbox a.treenode.selected {
    font-weight: 500;
    color: #000;
    background-color: #fff
}
.treeview-inbox td.treenode.hover,
.treeview-inbox td.treenode.selected { border-color: #e5e5e5 }
.treeview-inbox td.treenode.treenode-leaf .treevalue {
    
}
.treeview-inbox td.treenode.selected .treecount,
.treeview-inbox td.treenode.selected .treecountsub {
    color: #000;
}
.treeview-inbox td.treenode .treecountsub,
.treeview-inbox td.treenode .treecount {
    font-weight: 500;
    float: right;
    letter-spacing: 2px;
    text-align: center;
    color: #90949c
}