﻿.doughnut-legend,
.bar-legend,
.line-legend,
.radar-legend,
.polararea-legend,
.pie-legend {
  list-style: none;
  display:table;
  padding:5px;
  margin:auto;
  color:#666;
}
.doughnut-legend li,
.bar-legend li,
.line-legend li,
.radar-legend li,
.polararea-legend li,
.pie-legend li {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 13px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.doughnut-legend li:hover,
.bar-legend li:hover,
.line-legend li:hover,
.radar-legend li:hover,
.polararea-legend li:hover,
.pie-legend li:hover{
  background-color: #eaeaea;
}
.doughnut-legend li span,
.bar-legend li span,
.line-legend li span,
.radar-legend li span,
.polararea-legend li span,
.pie-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}
.drill-return{
    position: absolute;
    right: 35px;
    top: 5px;
    background: rgba(200,200,200,0.2);
    border-radius: 3px;
    cursor: pointer;
    color: #999;
    font-family: "Times New Roman", Times, serif;
}.drill-return .block{
    width:100%;
    height:100%;
    position:absolute;
}
.drill-return .text{
    padding:5px;
}
.drill-return:hover{
    background: rgba(200,200,200,0.6);
    color: #444;
}
.chart-loading-div{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    text-align:center;
    background-color: rgba(255,255,255,0.7);
}
.chart-loading-div span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.chart-div{
    position:relative;
}
.chart-options
{
    position: absolute;
    right: 5px;
    top: 5px;
    background: rgba(200,200,200,0.2);
    border-radius: 3px;
    cursor: pointer;
    color: #999;
    font-family: "Times New Roman", Times, serif;
}
.chart-options:hover
{
    background: rgba(200,200,200,0.6);
}
.chart-options img
{
    height: 18px;
    width: 18px;
    padding: 5px;
    opacity: 0.3;
}
.chart-options img:hover {
    opacity: 0.8;
}