 td
{
    border: none;
}

.dd-drop
{ 
	font-family: sans-serif;
	font-size: 16px;
}

.dd-title
{
	font-family: sans-serif;
	font-size: 13pt;
	color: Black;
	background-color: white;
	font-weight: bold;
	border-bottom: solid 1px black;
	padding-bottom: 2px;
}

.dd-paper
{
	background-color: white;
	border: solid 1px #333333;
	padding: 16px;
	height: 600px;
}

.dd-agg
{
    display: inline-block;
}

.dd-column  
{
	background-color: #80B8FF;
	height: 20px;
	white-space: nowrap;
	font-family: sans-serif;
	font-size: 10pt;
	padding: 6px 4px 0px 4px;
	border: solid 1px #3C94FF;
}

.dd-columngroup 
{
	background-color: #bbbbbb;
	color: black;
	height: 20px;
	white-space: nowrap;
    font-family: sans-serif;
	font-size: 9pt;
	font-weight: bold;
	padding: 6px 4px 0px 4px;
	border: solid 1px #666666;
}

.dd-columngroup a, .dd-columngroup a:visited
{
    color: Black;
}

.dd-pivotdatacolumn 
{
	background-color: #80B8FF;
	height: 20px;
	white-space: nowrap;
    font-family: sans-serif;
	font-size: 9pt;
	padding: 6px 4px 0px 4px;
	border: solid 1px #3C94FF;
}

.dd-dropgroup
{
    border: solid 1px #666666;
	background-color: #888888;
	background-image: url(../images/dropgroup.gif);
	background-position: center center;
	background-repeat: no-repeat;
	
	width: 15px;
	height: 26px;
}


.dd-droptop
{
    border: solid 1px #666666;
	background-color: #888888;
	background-image: url(../images/dropgrouptop.gif);
	background-position: center center;
	background-repeat: no-repeat;
	color: black;
	height: 20px;
	font-size:0pt;
}


.dd-droporder
{
    border: solid 1px #3693CA;
	background-color: #3693CA;
	width: 15px;
	height: 26px;
}

.dd-class
{
	font-family: sans-serif;
	font-size: 8pt;
	vertical-align: top;
}

.dd-chartclass
{
	font-family: sans-serif;
	font-size: 8pt;
	vertical-align: top;
}

.dd-chartph
{
	font-family: sans-serif;
	font-size: 9pt;
	vertical-align: top;

	background-color: #eeeeee;
	border: solid 1px #bbbbbb;
}

.dd-celldata
{
	background-color: white;
}

.dd-cellagg
{
	background-color: #ffff99;
}

.dd-celldata, .dd-celldata0, .dd-celldata1, .dd-celldata2, .dd-celldata3, .dd-celldata4, .dd-cellgroup
{
	padding: 3px 5px 3px 5px ;
	font-family: sans-serif;
	font-size: 10pt;
	vertical-align: top;
	color: Black;
	white-space: nowrap;
}

.dd-celldata0
{
	background-color: white;
	border: solid 1px #cccccc;
}

.dd-celldata1
{
	background-color: #ffffdd;
	border-top: solid 2px #ccccaa;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;

}

.dd-celldata2
{
	background-color: #ddffbb;
	border-top: solid 2px #aacc88;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;

}

.dd-celldata3
{
	background-color: #ffbbdd;
	border-top: solid 2px #ccaa88;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	
	font-weight: bold;
}

.dd-celldata4
{
	background-color: #bbddff;
	border-top: solid 2px #88aacc;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	
	font-weight: bold;
}

.dd-cellgroup
{
	background-color: #eeeeee;
	border: solid 1px #cccccc;
}

.group-total-checkbox
{
    position: absolute;
    margin: 8px;
}

.dd-columngroup a
{
    padding: 4px 8px 4px 14px;
}

.dd-column-checkbox
{
    padding-left: 20px;
}

.object-message, .search-message{
    border-bottom: none;
    background-color: transparent;
}
input[type="image"]{
    width: 30px;
    height: 30px;
    padding: 2px;
}
img{
    width: 28px;
    height: 28px;
}
.dd-column img, .dd-columngroup img{
    width: 16px;
    height: 16px;
}
#Min img, #Max img, #Sum img, #Avg img{
    width: 30px;
    height: 30px;
    padding: 10px 2px 2px 2px
}
#__updateProgress__ img{
    width: 16px;
    height: 16px;
}
.dd-chartclass input[type="image"]{
    width: 18px;
    height: 18px;
    padding-left: 4px;
}
.dd-paper input[type="image"]{
    padding:0;
}
body{
    margin: 10px 10px 10px 10px !important;
}

a, a span{
    color: black !important;
    text-decoration:underline !important;
}