﻿/* font settings */

body, table, select, input, textarea {
    font-family: Roboto, Arial;
    font-size: 12pt;
    color: #000000;
}

a, a span {
    text-decoration: none;
}

.title
{
    font-size: 14pt;
    font-weight: 500;
}

/* default settings for HTML elements */

body {
    background-color: white;
    margin: 0px 0px 0px 0px;
}

img {
    border: none;
    vertical-align: middle;
}



textarea {
    resize: none;
}


.hint-small-letter-i {
    padding: 0px 8px;
    font: bold 13px/16px Georgia, serif !important;
    background: none;
    color: #626262 !important;
    text-shadow: none;
    border: 1px solid #C2C2C2;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, #FFF, #E2E2E2);
    background-image: -moz-linear-gradient(top, #FFF, #E2E2E2);
    background-image: -ms-linear-gradient(top, #FFF, #E2E2E2);
    background-image: -o-linear-gradient(top, #FFF, #E2E2E2);
    background-image: linear-gradient(top, #FFF, #E2E2E2);
    background-clip: padding-box;
}

br {
    clear: both;
}



.treeview {
}

.app-menu .treeview a, .app-menu .treeview a span
{
    color: white;
    font-size: 11pt;
}

.webpart-zonecontainer {
    padding: 0px 5px 0px 5px;
    border-left: dashed 1px gray;
}

.webpart-zonecontainerleft {
    padding: 0px 5px 0px 5px;
    background-color: #f8f8f8;
}

.contextmenu {
    width: 200px;
    border: solid 1px #777777;
    background-color: #eeeeee;
    padding: 5px 5px 3px 5px;
}

.contextmenu div {
    margin-bottom: 2px;
    padding-bottom: 2px;
}

.contextmenu div a {
    margin-bottom: 2px;
    padding-bottom: 2px;
    background-color: #eeeeee;
    display: inline;
    color: #39639d;
    text-decoration: underline;
}



.hint {
    background-color: #f7f7f7;
    padding: 8px 12px;
    font-size: 9pt;
    border-radius: 5px;
}

.hint table {
    color: #9E9E9E;
    /* border-top: solid 1px #dddd88; */
    /* border-bottom: solid 4px #dddd88; */
    /* background-color: white; */
    font-size: 10pt;
}

.hint table table {
    border: solid 1px #eeeeaa;
    background-color: white;
}





.div-tree {
    background-color: white;
}


.tooltip-header {
    padding: 2px 2px 2px 2px;
    background-color: #aaddff;
    border: solid 1px #aaddff;
}

.tooltip-body {
    padding: 2px 2px 2px 2px;
    background-color: white;
    border: solid 1px #aaddff;
}


/* report */

.reportpage {
    background-color: white;
}

.report-name {
    background-color: white;
    padding: 20px 20px 10px 20px;
}

.report-name table {
    font-family: Century Gothic, Roboto, Arial;
    color: #f0f0f0;
    font-size: 18pt;
    font-weight: bold;
}

.report-buttons {
    background-color: white;
    padding: 10px 100px 5px 100px;
}


.gantt- .gantt-PendingAssignment,
.gantt-PendingHelpdesk,
.gantt-PendingPlanning {
    height: 16px;
    border: solid 1px black;
	font-family:Roboto, Arial;
    font-size: 9pt;
    background-color: #bbbbff;
}

.gantt-PendingApproval {
    height: 16px;
    border: solid 1px black;
	font-family:Roboto, Arial;
    font-size: 9pt;
    background-color: #bbbbff;
}

.gantt-PendingAssignment {
    height: 16px;
    border: solid 1px black;
	font-family:Roboto, Arial;
    font-size: 9pt;
    background-color: #bbbbff;
}

.gantt-PendingExecution {
    height: 16px;
    border: solid 1px black;
	font-family:Roboto, Arial;
    font-size: 9pt;
    background-color: #bbffbb;
}


.gantt-Rejected,
.gantt-Cancelled,
.gantt-Close {
    height: 16px;
    border: solid 1px black;
	font-family:Roboto, Arial;
    font-size: 9pt;
    background-color: #eeeeee;
}

.gantt-PendingClosure {
    height: 16px;
    border: solid 1px black;
	font-family:Roboto, Arial;
    font-size: 9pt;
    background-color: #bbffff;
}

.gantt-background {
    background-color: #ffffff;
    border: solid 1px #cccccc;
	font-family:Roboto, Arial;
    font-size: 9pt;
    padding: 1px 1px 1px 1px;
    height: 0px;
}

.gantt-rangeheader {
    background-color: #dddddd;
    border: solid 1px #cccccc;
	font-family:Roboto, Arial;
    font-size: 7pt;
    font-weight: normal;
    padding: 0px 1px 0px 1px;
    height: 0px;
    font-size: 1.2em;
    padding: 5px;
    font-weight: bold;
}

.gantt-today {
    background-color: #ddddff;
    border: solid 1px #cccccc;
	font-family:Roboto, Arial;
    font-size: 9pt;
    padding: 1px 1px 1px 1px;
    height: 0px;
}

.gantt-weekend {
    background-color: #dddddd;
    border: solid 1px #cccccc;
	font-family:Roboto, Arial;
    font-size: 9pt;
    font-weight: normal;
    padding: 1px 1px 1px 1px;
    height: 0px;
}

.gantt-title {
    padding: 5px;
    background-color: #dddddd;
    border: solid 1px #cccccc;
	font-family:Roboto, Arial;
    font-size: 9pt;
    font-weight: normal;
    height: 0px;
    width: 200px;
    font-size: 1.2em;
}

.gantt-tooltip-body {
    width: 250px;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    padding: 2px 4px 2px 4px;
    font-size: 1em;
}

.gantt-tooltip-header {
    width: 260px;
    background-color: #ddddff;
    border: solid 1px #bbbbff;
    padding: 2px 4px 2px 4px;
    font-size: 1em;
    font-weight: bold;
}

.gantt-complete {
    height: 100%;
    background-color: green;
    color: White;
    text-align: center;
    font-size: 12px;
}

/*----------------------------------------------
 CSS for charts
----------------------------------------------*/

.chartsubmitbutton {
	font-family:Roboto, Arial;
    font-size: 9pt;
    background-color: #ddddff;
    border: solid 1px #608161;
}

.chartdroparea {
	font-family:Roboto, Arial;
    font-size: 9pt;
    color: black;
    border-style: groove;
    border-width: thin;
    padding: 2px;
}

.chartsetuparea {
	font-family:Roboto, Arial;
    font-size: 9pt;
    color: black;
    border-bottom-width: 2px;
    border-bottom-style: ridge;
    padding: 2px;
}



.advancedreportagggroupheader {
    font-family: Roboto, Arial;
    font-size: 9pt;
    color: #0000A3;
    background-color: #ddffdd;
    padding: 2px;
}

.advancedreportgroup {
    font-family: Roboto, Arial;
    font-size: 9pt;
    color: black;
    background-color: #ffffdd;
    padding: 2px;
}

.advancedreportitem {
    font-family: Roboto, Arial;
    font-size: 9pt;
    color: black;
    background-color: white;
    padding: 2px;
}

.reportgridpager {
    font-family: Roboto, Arial;
    font-size: 9pt;
    color: black;
    padding: 4px;
}

.advancedreportaltitem {
    font-family: Roboto, Arial;
    font-size: 9pt;
    color: black;
    background-color: #eeeeee;
    padding: 2px;
}

.reporttitle {
    background: transparent url(../../images/reportTop.gif) top left;
    font-weight: bold;
    font-size: 9pt;
    font-family: Roboto, Arial;
    color: white;
    height: 25px;
}


.advancedreportungroupcolheader {
    font-family: Roboto, Arial;
    font-size: 9pt;
    color: black;
    background-color: white;
}

.advancedreportgroupcolheader {
    font-family: Roboto, Arial;
    font-size: 9pt;
    color: blue;
    background-color: white;
}


.advancedreportdropnormal {
    background-color: #ddddff;
}

.advancedreportdropover_agg {
    border: solid 1px #0000ff;
}

.advancedreportdropover_ungroup {
    border: solid 1px black;
    background-color: Black;
}


.advancedreportdropover_ungrouppivot {
    border: solid 1px black;
    background-color: Black;
}


.advancedreportdropover_groupY {
    border: solid 2px #7777ff;
    background-color: #7777ff;
}


.advancedreportdropover_groupx {
    border: solid 1px #7777ff;
    background-color: #7777ff;
}

.reportheaderbuttonnormal {
    font-weight: normal;
    font-size: 9pt;
    font-family: Roboto, Arial;
    border: solid 1px #4A6F9B;
    cursor: pointer;
    height: 21px;
    height: 21px;
}


.reportheaderbuttonmouseover {
    font-weight: normal;
    font-size: 9pt;
    font-family: Roboto, Arial;
    background-color: #6085B0;
    border: solid 1px #6085B0;
    cursor: pointer;
    height: 21px;
    width: 21px;
}

.advancedreportbuttonnormal {
    border: solid 1px #AED3F0;
    cursor: pointer;
    height: 21px;
    width: 21px;
    font-weight: normal;
    font-size: 9pt;
    font-family: Roboto, Arial;
    background-color: #AED3F0;
}


.advancedreportbuttonmouseover {
    background-color: #8BBEE7;
    border: solid 1px #3F668F;
    cursor: pointer;
    height: 21px;
    width: 21px;
    font-weight: normal;
    font-size: 9pt;
    font-family: Roboto, Arial;
}

.reportbarleft {
    font-weight: normal;
    font-size: 9pt;
    font-family: Roboto, Arial;
    border-right-style: solid;
    border-right-color: #103B5D;
    border-right-width: 1px;
    border-top-style: solid;
    border-top-color: #103B5D;
    border-top-width: 1px;
    background-color: #AED3F0;
}

.reportbackground {
    border-top-width: 2px;
    border-top-style: groove;
    border-top-color: #5F3FD6;
    border-left-style: groove;
    border-left-width: 2px;
    border-left-color: #5F3FD6;
    border-right-style: inset;
    border-right-width: 2px;
    border-right-color: #6887BB;
    border-bottom-style: inset;
    border-bottom-width: 2px;
    border-bottom-color: #6887BB;
}

.reportbarright {
    font-weight: normal;
    font-size: 9pt
    font-family: Roboto, Arial;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #103B5D;
    background-color: #AED3F0;
}

.leftpanelrow {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #103B5D;
}

.parallelviewdivide {
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: #6887BB;
}


.modalBackground {
    background-color: white;
    filter: alpha(opacity=70);
    opacity: 0.7;
    z-index: 99999;
}

.modalPopup {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: Gray;
    padding: 8px 8px 8px 8px;
    width: 550px;
    z-index: 100000;
}



.div-searchfom {
    border: solid 1px #dddddd;
    background-color: white;
    padding: 8px 8px 8px 8px;
    clear: both;
}

.div-viewtimes
{
    color: #bdbdbd;
    font-size: 8pt;
    vertical-align: baseline !important;
    text-align: right;
    width: 80px;
}

.div-tabbuttons {
    padding: 8px 8px 8px 8px;
}

.div-home {
    border: none;
    padding: 12px 0px 12px 0px;
}

/*.homepage {
    background-color: #eeeeee;
}*/


.hint-top {
    padding: 8px 0px 8px 0px;
}

.hint-top table {
    border: solid 1px #cccc00;
    background-color: #ffffcc;
}

.div-indent {
    padding-left: 20px;
}

.text-right {
    text-align: right;
}



.stateBox {
    background-color: Pink;
    text-align: center;
    font-weight: bold;
    border: .1em solid #900;
    position: absolute;
    z-index: -1;
}

.stateBox-current {
    background-color: LightBlue;
    text-align: center;
    font-weight: bold;
    border: .1em solid #900;
    position: absolute;
    z-index: -1;
}

.actionBox {
    position: absolute;
    z-index: 4;
    background-color: white;
}

.stateBox div {
    font-size: 9px;
    font-weight: normal;
}

.stateBox-current div {
    font-size: 9px;
    font-weight: normal;
}


.text-sub {
	font-family: Tahoma;
    font-size: 8pt;
    color: Gray;
}

.object-base, .object-base input {
    font-size: 11pt;
    font-weight: bold;
}


.default-node {
	font-family: Roboto, Arial;
    font-size: 11pt;
    color: #888888;
    padding-top: 5px;
    padding-bottom: 5px;
}

.selected-node {
    font-weight: bold;
}

.hover-node {
    color: #2278ff;
}

.leaf-node {
    margin: 0px 0px 0px -19px;
}


.home-separator {
	font-family: Roboto, Arial;
    font-size: 15pt;
    color: #0077ff;
    padding: 0px 0px 2px 0px;
    margin: 0px 0px 0px 0px;
    clear: both;
}

.dashboard-tooltip-header {
    padding: 2px 10px 0px 5px;
    background-color: #0378b5 !important;
    white-space: nowrap;
    font-weight: bold;
    border: solid 0px #666;
    border-bottom: none;
    font-size: 1em;
    color: #FFF;
}

.dashboard-tooltip-body td {
    font-size: 1em;
}


.dashboard-tooltip-body {
    padding: 5px 10px 5px 5px;
    font-size: 1em;
    background-color: #0378b5 !important;
    color: #FFF;
    white-space: nowrap;
    border: solid 0px #666;
    border-top: none;
}

.collapsible-panel-container {
    margin: 0px 0px 10px 0px;
    position: static !important;
}

.collapsible-panel-collapsed {
    background: url('../../images/icon_plus.png') 10px center no-repeat #07F;
    display: block;
    border: 1px solid #666;
    padding: 6px 10px 6px 36px;
    margin-left: -36px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    color: #FFF;
    min-height: 15px;
}

.collapsible-panel-expanded {
    background: url('../../images/icon_minus.png') 10px center no-repeat #07F;
    display: block;
    border: 1px solid #666;
    padding: 6px 10px 6px 36px;
    margin-left: -36px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    color: #FFF;
    min-height: 15px;
}

/** Dashboard css  **/

.dashboard-container {
	font-family:Roboto, Arial;
    width: 300px;
    float: left;
    border: solid 1px #9C9E73;
}

.dashboard-header {
	font-family:Roboto, Arial;
    width: 300px;
    height: 20px;
    background-color: #C3C49C;
    font-weight: bold;
    color: black;
    vertical-align: middle;
}

.dashboard-iframe {
	font-family:Roboto, Arial;
    width: 300px;
    height: 320px;
}

.dashboard-expand {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
    z-index: 99999;
    background-color: #fff;
}

.dashboard-expand-head{
    background: url('../../images/pinboard-icons/dashboard.png') no-repeat;
    background-color: #ccc;
    padding:5px 8px;
    font-size: 16px;
    text-align:center;
    font-weight:bold;
}

.dashboard-expand-close
{
    cursor:pointer;
    float: right;
    width: 34px;
    height: 33px;
    margin-top: -7px;
    margin-right: -8px;
    font-size: 20px;
}

.dashboard-expand-close:hover{
    color:white;
}

.dashboard-expand-overlay {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    z-index: 99998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dashboard-popup-title {
    font-weight: bold;
    text-align: center;
    height: 25px;
    line-height: 25px;
    display: block;
    padding-top: 5px;
}

.dashboard-popup-close-btn {
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: 0;
    top: 0;
    position: absolute;
    font-size: x-large;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    color: black;
}

.dashboard-popup-close-btn:hover {
    color: #ccc;
    cursor: pointer;
}

.dashboard-popup-content {
    border: none;
    margin-top: 10px;
}

.field-treelist a, a span {
    padding: 0;
}

.field-treelist table {
    padding-bottom: 5px;
}

.field-datetime img {
    padding-left: 3px;
    padding-top: 6px;
    height: 16px;
    vertical-align: top;
    cursor: pointer;
}

.field-checkbox input {
    margin: 6px 3px 3px 4px;
}

.field-radio input {
    margin: 6px 3px 3px 4px;
}

.object-base-br {
    height: 10px;
}

.warning {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: orangered !important;
    background-color: #F6E3CE;
    background-image: url('../../images/warn-True.gif');
    font: 13px/16px !important;
    font-weight: bold;
}

.error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #D8000C !important;
    background-color: #FFBABA;
    background-image: url('../../images/delete-big.png');
    font: 13px/16px !important;
    font-weight: bold;
}

.asp-caption {
    font-weight: normal;
    font-size: 10pt;
    color: #666666;
}

.search_limit_controls
{
    right: 0;
    width: 350px;
    position: absolute;
}




.treeview-inbox {
    width: 100%;
}
.treeview-inbox table {
    position: relative;
    empty-cells: show;
	border-collapse: separate;
    word-wrap: break-word;
    border-spacing: 0;
	border: none;
	color: #2c3e50;
}
.treeview-inbox table:hover { }
.treeview-inbox table tr td img {
	padding: 0.7rem 0.5rem 0.7rem 0;
	color: #626668;
	outline: none;
	empty-cells: show;
	overflow: hidden;
	text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow-multiline: ellipsis;
}

.treeview-inbox a.treenode {
    color: #2c3e50;
    display: block;
    outline: 0;
    width: 100%
}
.treeview-inbox td.treenode {
    width: 100%;
    padding: 0.7rem 0.5rem;
    border: solid 1px transparent
}
.treeview-inbox td.treenode.treenode-leaf {
    padding-left: 10px;
    padding-right: 0.2rem;
    font-size: 0.90em;
}

.treeview-inbox td.treenode.hover,    
.treeview-inbox td.treenode.selected,
.treeview-inbox a.treenode.selected {
    font-weight: 500;
    color: #000;
    background-color: #fff
}
.treeview-inbox td.treenode.hover,
.treeview-inbox td.treenode.selected { border-color: #e5e5e5 }
.treeview-inbox td.treenode.treenode-leaf .treevalue {
    
}
.treeview-inbox td.treenode.selected .treecount,
.treeview-inbox td.treenode.selected .treecountsub {
    color: #000;
}
.treeview-inbox td.treenode .treecountsub,
.treeview-inbox td.treenode .treecount {
    font-weight: 500;
    float: right;
    letter-spacing: 2px;
    text-align: center;
    color: #90949c
}

