 td
{
    border: none;
}

 .dd-topmenu 
 {
     position: relative;
     padding: 10px 20px;
     background-color: #1d50a7;
     box-shadow: -2px 3px 2px -2px rgba(0,0,0,0.5);
     z-index: 1;
 }

 
 .dd-tablefunction 
 {
     display: block;
     background-color: #cccccc;
     text-align: center;
     margin-bottom: 10px;
     padding: 10px 10px;
     border-radius: 8px;
     color: #333333 !important;
     border: 2px solid #e5e5e5;
     box-shadow: 0 0 2px #e5e5e5;

 }

.dd-tablefunction:hover 
{
    background-color: #c5c5c5;
}

.dd-leftaggregate
 {
     width: 50px;
     height: 50px;
     background-color: #961a48;
     box-shadow: 0 0 2px rgba(0,0,0,0.5);
     margin: 0px 22px 40px 0;
 }

.dd-leftpane table table td:last-child div  {
    margin-right: 0;
}

.dd-leftaggregate img
 {
     width: 50px;
     height: 50px;
 }

.dd-columnaggregate {
    background-color: #961a48;
}

.dd-columnaggregate, .dd-columnaggregate img {
    width: 40px;
    height: 40px;
}

.dd-drop
{ 
	border-radius: 8px;
    margin-bottom: 20px;
    padding: 5px;
}

.dd-title
{
	font-family: sans-serif;
	font-size: 13pt;
	color: #181818;
	background-color: white;
	font-weight: bold;
	border-bottom: solid 1px #cccccc;
	padding-bottom: 8px;
}

.dd-subtitle 
{
    color: #797979;
    font-weight: lighter;
}

.dd-paper
{
	background-color: white;
	padding: 40px 30px 30px 30px;
	height: 600px;
    width: 100%;
}

.dd-agg
{
    display: inline-block;
}

.dd-functionbutton
{
    display: inline-block;
    margin: 0 5px;
    padding: 5px 12px;
    border: 2px solid white;
    border-radius: 8px;
    color: white !important;
}

.dd-functionbutton:hover
{
    background-color: #45a0ef;
}

.dd-leftpane 
{
    position: relative;
    padding: 20px 30px 0 30px;
    width: 300px;
    background-color: #eeeeee;
}

.dd-leftpane table
{
    margin-top: 5px;
}

.dd-leftpane .dd-column {
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.dd-leftpane table, .dd-column, .dd-column a
{
    color: white !important;
}

.dd-column  
{
	background-color: #45a0ef;
	height: 25px;
	white-space: nowrap;
	font-family: sans-serif;
	font-size: 10pt;
	padding: 15px 4px 0px 4px;
}

.dd-columngroup 
{
	background-color: #bbbbbb;
	color: black;
	height: 25px;
	white-space: nowrap;
    font-family: sans-serif;
	font-size: 9pt;
	font-weight: bold;
	padding: 15px 4px 0px 20px;

}

.dd-columngroup a, .dd-columngroup a:visited
{
    color: Black;
}

.dd-pivotdatacolumn 
{
	background-color: #45a0ef;
	height: 30px;
	white-space: nowrap;
    font-family: sans-serif;
	font-size: 9pt;
	padding: 6px 4px 0px 4px;
    margin-bottom: 10px;
}

.dd-dropgroup
{
    border: solid 1px #666666;
	background-color: #888888;
	background-image: url(../images/dropgroup.gif);
	background-position: center center;
	background-repeat: no-repeat;
	width: 15px;
	height: 38px;
}

.dd-droptop
{
    border: solid 1px #666666;
	background-color: #888888;
	background-image: url(../images/dropgrouptop.gif);
	background-position: center center;
	background-repeat: no-repeat;
	color: black;
	height: 20px;
	font-size:0pt;
}

.dd-droporder
{
    border: solid 1px #3693CA;
	background-color: #3693CA;
	width: 1px;
	height: 38px;
}

.dd-class
{
	font-family: sans-serif;
	font-size: 8pt;
	vertical-align: top;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
}

.dd-chartclass {
    color: #555555;
}

.dd-chartclass td {
    white-space: nowrap;
}

.dd-chartclass td:nth-child(2) {
    width: 100%;
}

.dd-chartph
{
	background-color: #f8f8f8;
    height: 30px;
    margin: 5px;
    padding: 0 5px;
	border: dashed 2px #aaaaaa;
    border-radius: 8px;
}

.dd-chartph span {
    display: inline-block;
    vertical-align: middle;
}

.dd-celldata
{
	background-color: white;
}

.dd-cellagg
{
	background-color: #ffff99;
}

.dd-celldata, .dd-celldata0, .dd-celldata1, .dd-celldata2, .dd-celldata3, .dd-celldata4, .dd-cellgroup
{
	padding: 3px 5px 3px 5px ;
	font-family: sans-serif;
	font-size: 10pt;
	vertical-align: top;
	color: Black;
	white-space: nowrap;
}

.dd-celldata0
{
    color: #606060;
	background-color: white;
	border: solid 1px #cccccc;
}

.dd-celldata1
{
	background-color: #ffffdd;
	border-top: solid 2px #ccccaa;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;

}

.dd-celldata2
{
	background-color: #ddffbb;
	border-top: solid 2px #aacc88;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;

}

.dd-celldata3
{
	background-color: #ffbbdd;
	border-top: solid 2px #ccaa88;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	
	font-weight: bold;
}

.dd-celldata4
{
	background-color: #bbddff;
	border-top: solid 2px #88aacc;
	border-bottom: solid 1px #cccccc;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	
	font-weight: bold;
}

.dd-cellgroup
{
	background-color: #dddddd;
	border: solid 1px #cccccc;
}

.group-total-checkbox
{
    position: absolute;
    margin: 10px;
}

.dd-columngroup a
{
    padding: 4px 8px 4px 14px;
}

.dd-column-checkbox
{
    padding-left: 30px;
}

.object-message, .search-message{
    border-bottom: none;
    background-color: transparent;
}

.dd-leftpane input[type=checkbox] {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #45a0ef;
    border: 2px solid #3070a7;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    border-radius: 3px;
}

.dd-leftpane input[type=checkbox]:checked {
    background-color: #45a0ef;
    background-image: url('../images/check.png');
}

.dd-leftpane input[type=checkbox]:not(:checked) {
    background-color: white;
    background-image: none;
}

.group-total-checkbox {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #bbbbbb;
    border: 2px solid #888888;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    border-radius: 3px;
}

.group-total-checkbox:checked {
    background-color: #bbbbbb;
    background-image: url('../images/check.png');
}

.group-total-checkbox:not(:checked) {
    background-color: white;
    background-image: none;
}

input[type="image"]{
    width: 30px;
    height: 30px;
    padding: 2px;
}
img{
    width: 28px;
    height: 28px;
}
.dd-column img, .dd-columngroup img{
    width: 16px;
    height: 16px;
}

#__updateProgress__ img{
    width: 16px;
    height: 16px;
}
.dd-chartclass input[type="image"]{
    width: 18px;
    height: 18px;
    padding-left: 4px;
}
.dd-paper input[type="image"]{
    padding:0;
}

body
{
    width: 100%;
    background-color: #e3e3e3 !important;
}

a, a span{
    color: black !important;
}