﻿<%@ Page Language="C#" Inherits="PageBase" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%--
<script runat="server">
    protected override void OnPreInit(EventArgs e)
    {
        base.OnPreInit(e);

        string arg = Security.Decrypt(Request["ID"]);
        webDashboard.DashboardID = new Guid(arg);
        webDashboard.UniqueKey = "";
    }
    
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <web:webpartDashboard runat="server" ID="webDashboard"></web:webpartDashboard>
    </div>
    <script src="../../../scripts/jtip.js" type='text/javascript'></script>

    </form>
</body>
</html>
--%>