﻿<%@ Page Language="C#" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">
    protected override void OnLoad(EventArgs e)
    {
        base.OnLoad(e);

        try
        {
            OAttachedImage loginLogo = TablesLogic.tAttachedImage.Load(OApplicationSetting.Current.LoginLogoID);
            if (loginLogo != null)
            {
                Response.Cache.SetCacheability(HttpCacheability.Public);
                Response.BinaryWrite(loginLogo.ImageBytes);
                Response.End();
            }
        }
        catch (Exception) { }
    }

</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
