﻿.form-circle {
    width: 100%;
}

.progressbar {
    counter-reset: step;
}

    .progressbar li {
        list-style-type: none;
        float: left;
        width: 25%;
        position: relative;
        text-align: center;
    }

.progressbar li {
    list-style-type: none;
    float: left;
    width: 25%;
    position:relative;
    text-align: center;
}

    .progressbar li {
        list-style-type: none;
        float: left;
        width: 9%;
        position: relative;
        text-align: center;
    }

        .progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 35px;
            height: 35px;
            line-height: 30px;
            border: 1px solid #ddd;
            display: block;
            text-align: center;
            margin: 0 auto 10px auto;
            border-radius: 50%;
            background-color: white;
        }

        .progressbar li:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: black;
            top: 15px;
            left: -50%;
            z-index: -1;
        }

        .progressbar li:first-child:after {
            content: none;
        }

        .progressbar li.active {
            color: deepskyblue;
        }

        .progressbar li:active:before {
            border-color: deepskyblue;
        }

        .progressbar li.active + li.after {
            background-color: deepskyblue;
        }

.printloglbl {
    display: inline-block;
    text-align: center;
    font-size: smaller;
}

.pdflbl {
    display: inline-block;
    text-align: center;
    padding-left: 9px;
    font-size: smaller;
}

.printlbl {
    display: inline-block;
    text-align: center;
    padding-left: 9px;
    font-size: smaller;
}

.waitcontractorlbl {
    display: inline-block;
    text-align: center;
    padding-left: 9px;
    font-size: smaller;
}

.waitmateriallbl {
    display: inline-block;
    text-align: center;
    padding-left: 9px;
    font-size: smaller;
}

.onholdlbl {
    display: inline-block;
    text-align: center;
    padding-left: 9px;
    font-size: smaller;
}

.workflowhistorylbl {
    display: inline-block;
    text-align: center;
    padding-left: 82px;
    font-size: smaller;
}

.workflowlbl {
    display: inline-block;
    text-align: center;
    padding-left: 21px;
    font-size: smaller;
}

.worklbl {
    display: inline-block;
    text-align: center;
    padding-left: 9px;
    font-size: smaller;
}

.savelbl {
    display: inline-block;
    text-align: center;
    padding-left: 9px;
    font-size: smaller;
}

.closelbl {
    display: inline-block;
    text-align: center;
    padding-left: 9px;
    font-size: smaller;
}