/* Red Theme CSS classes for Simplicity. */

.mdl-layout__header, .mdl-navigation__link:hover {
	background-color: rgb(255,82,82);
}

.mdl-drawer, .mdl-layout__header-search, .mdl-layout__header-search  input {
    background-color: #e54949;
}