/* Black Theme CSS classes for Simplicity. */

.mdl-layout__header, .mdl-navigation__link:hover {
	background-color: #000000;
}

.mdl-drawer, .mdl-layout__header-search, .mdl-layout__header-search  input {
    background-color: #323232;
}