/* Yellow Theme CSS classes for Simplicity. */

.mdl-layout__header, .mdl-navigation__link:hover {
	background-color: #FDD835;
}

.mdl-drawer, .mdl-layout__header-search, .mdl-layout__header-search  input {
    /*background-color: #caac2a;*/
    background-color: #e3c22f;
}