/* White Theme CSS classes for Simplicity. */

.mdl-layout__header, .mdl-navigation__link:hover {
	background-color: white;
    color: black;
}

.mdl-drawer, .mdl-layout__header-search, .mdl-layout__header-search  input {
    background-color: #999999;
}

.mdl-button--white:not(.mdl-button--raised) {
    color: black;
}

#SearchButton {
    color: white;
}