﻿/* Contains material CSS classes for Simplicity. */

/*---------------------------------------------------------------------------
    Key elements
---------------------------------------------------------------------------*/
.body-bg
{

}

.body-function-bg, .body-search-bg, .body-report-bg, .body-home-bg {
    background-color: #eeeeee;
}


.mdl-search-adv-div
{
    font-size: 0px;
}

.mdl-edit-div, .div-form {
    background-color: white;
}

.div-main {
    padding: 20px;
}

.div-report {
    max-width: 800px;
    margin: auto;
    background-color: white;
    border: solid 1px #e0e0e0;
    padding: 20px 40px;
}

.mdl-iframe-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}


/*---------------------------------------------------------------------------
    Edit Panels
---------------------------------------------------------------------------*/
.gridster, .gridster ul {
    background: none;
}

/*---------------------------------------------------------------------------
    Edit Panels
---------------------------------------------------------------------------*/

.div-urgent-no {
    /* margin-left: 20px; */
    position: absolute;
    padding: 6px 30px;
    width: 90px;
    text-align: left;
    vertical-align: middle;
    /* border-left: solid 30px red; */
    font-size: 1pt;
    font-weight: bold;
    color: white;
    /* box-shadow: 0 0 10px #ccc; */
    border-radius: 0px;
    left: 200px;

}

.div-urgent-no label {
    color: #bdbdbd;
    font-size: 11pt;
    padding-left: 10px;
    vertical-align: 4px;
}

.div-urgent-no br {
    height: 0px;
}

.div-urgent-yes {
    /* margin-left: 20px; */
    position: absolute;
    padding: 6px 30px;
    width: 90px;
    text-align: left;
    vertical-align: middle;
    /* border-left: solid 30px red; */
    font-size: 1pt;
    font-weight: bold;
    color: white;
    /* box-shadow: 0 0 10px #ccc; */
    border-radius: 0px;
    left: 200px;
}

@media only screen and (min-width:0px) and (max-width: 959px)
{
    .div-urgent-no,
    .div-urgent-yes
    {
        left: 0px
    }
}

.div-urgent-yes label {
    color: red;
    font-size: 11pt;
    padding-left: 10px;
    vertical-align: 4px;
}


/*---------------------------------------------------------------------------
    Loading spinners
---------------------------------------------------------------------------*/

.loading-container1
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0.8;
}
.loading-container2
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
  margin: 2px;
}
.loading-bar:nth-child(1) {
  background-color: rgb(33,150,243);
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: rgb(255,82,82);
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #FDD835;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #C0CA33;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}


/*---------------------------------------------------------------------------
    Chips
---------------------------------------------------------------------------*/

.mdl-chip.mdl-chip-blue {
    background-color: rgb(33,150,243);
    color: white;
    height: 28px;
    line-height: 28px;
}

.mdl-chip.mdl-chip-green
{
    background-color: #C0CA33;
    color: white;
    height: 28px;
    line-height: 28px;
}

.mdl-chip.mdl-chip-red
{
    background-color: rgb(255,82,82);
    color: white;
    height: 28px;
    line-height: 28px;
}

.mdl-chip.mdl-chip-yellow
{
    background-color:  #FDD835;
    color: white;
    height: 28px;
    line-height: 28px;
}

.mdl-chip.mdl-chip-gray
{
    background-color:  #bdbdbd;
    height: 28px;
    line-height: 28px;
    color: white;
}

.mdl-chip-gray .mdl-chip__text,
.mdl-chip-green .mdl-chip__text,
.mdl-chip-blue .mdl-chip__text,
.mdl-chip-yellow .mdl-chip__text,
.mdl-chip-red .mdl-chip__text
{
    font-weight: bold;
    color: white;
}



/*---------------------------------------------------------------------------
    Separators
---------------------------------------------------------------------------*/
.separator2 {
    background-color: #333;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 12pt;
    padding: 5px 0px 5px 0px;
    margin: 15px 0px 15px 0px;
    clear: both;
}

.separator-small {
    font-weight: bold;
    font-size: 9pt;
    padding: 0px 0px 2px 0px;
    margin: 8px 0px 12px 0px;
    clear: both;
}

.separator {
    font-family: Roboto, Arial;
    font-size: 18pt;
    margin: 10px 0px 20px 0px;
    clear: both;
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: rgb(33,150,243);
}

.separator-line hr {
    display: block;
    height: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px #eeeeee;
    padding: 10px 0 0 0;
    margin-left: -30px;
    font-size: 0pt;
    width: calc(100% + 60px);
}

.separator hr {
    display: block;
    margin: 0 0 20px 0;
    height: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px #eeeeee;
    padding: 10px 0 0 0;
    margin-left: -30px;
    font-size: 0pt;
    width: calc(100% + 60px);
}


/*---------------------------------------------------------------------------
    Search Panels
---------------------------------------------------------------------------*/
.mdl-search-add {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10001
}

/* object edit panel */
.mdl-objectbase {
    padding: 20px 30px 0px 30px;
    background-color: white;
}

.mdl-field-container {
    font-size: 0pt;
}

.mdl-search-adv-div
{

}

.mdl-search-adv-list-div
{
    padding: 20px 20px;
    background-color: #757575;
}

.mdl-search-adv-list-label {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}

.mdl-search-adv-list-div .mdl-chip
{
    background-color: white;
}

.mdl-search-adv-list-div .mdl-chip {
    background-color: white;
    color: #757575;
}

.mdl-search-adv-list-div .mdl-chip__action {
    color: #757575;
}

.mdl-title-bar-extra-buttons {
    float: right;
    min-height: 40px;
    white-space: nowrap;
}

@media only screen and (min-width: 0px) and (max-width: 959px) {
    .mdl-title-bar-extra-buttons {
        position: fixed;
        top: 70px;
        background-color: white;
        min-width: calc(100vw);
        width: calc(100vw);
        box-sizing: border-box;
        /* border-radius: 5px; */
        border: solid 1px #e0e0e0;
        box-shadow: 3px 3px 7px rgba(0,0,0,0.1);
        text-align: center;
        overflow: unset;
        white-space: normal;
        left: 0px;
        background-color: #f7f7f7;
    }

    .mdl-title-bar-extra-buttons > div {
        padding: 12px 32px;
        box-sizing: border-box;
    }

    .mdl-title-bar-extra-buttons button:not(.mdl-button--mini-fab) {
        width: 100%;

    }

    .mdl-title-bar-extra-buttons button
    {
        margin-bottom: 8px;
    }
}

/*---------------------------------------------------------------------------
    Audit Panel
---------------------------------------------------------------------------*/
.mdl-audit {
    padding: 10px 30px 0px 30px;
    background-color: white;
}

.mdl-audit .mdl-textfield {
    color: rgba(0,0,0,0.4)
}

/*---------------------------------------------------------------------------
    Table/flow layout
---------------------------------------------------------------------------*/
.mdl-layout-table, .mdl-layout-flow
{
    vertical-align: top;
}

.mdl-layout-flow {
    white-space: nowrap;
    display: inline-block;
}

.mdl-layout-flow .mdl-textfield.mdl-textfield--time {
    width: 50px !important;
}

.mdl-layout-flow .mdl-textfield.mdl-textfield--date {
    width: 90px !important;
}

.mdl-layout-flow .mdl-textfield {
    padding: 0px 4px;
    margin-right: 0 !important;
    width: calc(100%) !important;
}

.mdl-layout-flow .mdl-textfield__label:after
{
    bottom: 0px;
}

.mdl-layout-flow .mdl-button--icon {
    font-size: 16px;
    height: 20px;
    width: 20px;
    max-width: 20px;
    min-width: 20px;
}

.mdl-layout-flow button i.material-icons {
    font-size: 16px;
    color: rgba(0,0,0,0.4);
}

.mdl-layout-table button i.material-icons {
    font-size: 20px;
    color: rgba(0,0,0,0.4);
}

/*---------------------------------------------------------------------------
    Generic text fields
---------------------------------------------------------------------------*/
.mdl-textfield__label {
    color: rgba(0,0,0,0.4);
    top: 4px;
    font-size: 12px;
    overflow: unset;
}

.mdl-textfield__label:after
{
    bottom: 30px;
}

.mdl-textfield__required-asterisk::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f069";
    font-size: 7px;
    vertical-align: top;
    color: red;
    padding-left: 2px;
}

.mdl-layout-flow > .mdl-textfield {
    margin-top: -2px;
}

.mdl-layout-flow > .mdl-textfield.mdl-textfield--date
{
    width: unset;
}

.mdl-layout-flow > .mdl-textfield > .mdl-textfield__input {
    display: inline-block;
}
.mdl-layout-flow > .mdl-textfield > .mdl-textfield__error {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

span .mdl-textfield__error {
    font-size: 12px !important;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #d50000;
    padding: 0px 12px !important;
    border-radius: 5px;
    color: white;
    display: unset;
    visibility: visible;
}

span.mdl-textfield__edithint,
span.mdl-textfield__hint 
{
    position: absolute;
    font-size: 12px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #bdbdbd;
    display: unset;
    visibility: visible;
}

.mdl-textfield-container {
    font-size: 0pt;
}

.mdl-textfield {
    width: 100%;
    vertical-align: middle;
    padding: 20px 0 30px 0;
}

.mdl-textfield > a {
    color: blue;
    text-decoration: underline;
    text-decoration-color: blue;
}

.mdl-textfield-rangeto {
    font-size: 14px;
    display: inline-block;
    padding: 0px 8px;
    vertical-align: 1px;
    color: rgba(0,0,0,0.4);
}

.mdl-tabview {
    font-size: 0pt;
    background-color: white;
    padding: 20px 30px 20px 30px;
    border-bottom: solid 10px #eeeeee;
}

.mdl-tabview > span {
    font-size: 14px;
}

.mdl-textfield--floating-label.is-dirty:not(.is-focused) .mdl-textfield__label {
    color: rgba(0,0,0,0.4);
}

.mdl-textfield--floating-label .mdl-textfield__label {
    transition-duration: unset;
    transition-timing-function: unset;
}

.mdl-search-report-div .mdl-textfield,
.mdl-search-adv-div .mdl-textfield,
.mdl-tabview .mdl-textfield,
.mdl-objectbase .mdl-textfield {
    margin-right: 20px;
    width: calc(100% - 20px);
}

.mdl-search-report-div .mdl-layout-context-menu .mdl-textfield,
.mdl-search-adv-div .mdl-layout-context-menu .mdl-textfield,
.mdl-tabview .mdl-layout-context-menu .mdl-textfield,
.mdl-objectbase .mdl-textfield {
    margin-right: 20px;
    width: calc(100% - 20px - 32px);
}


.mdl-layout-context-menu .mdl-dropdown
{
    top: 20px;
}

.mdl-textfield-span1_4 {
    width: 25%;
    display: inline-block;
}

.mdl-textfield-span2_4 {
    width: 50%; 
    display: inline-block;
}

.mdl-textfield-span3_4 {
    width: 75%;
    display: inline-block;
}

.mdl-textfield-span4_4 {
    width: 100%;
    display: inline-block;
}

@media only screen and (min-width: 0px) and (max-width: 799px) {
    .mdl-textfield-span1_4,
    .mdl-textfield-span2_4,
    .mdl-textfield-span3_4,
    .mdl-textfield-span4_4 {
        width: 100%;
        display: inline-block;
    }
}


@media only screen and (min-width: 0px) and (max-width: 799px)
{
    .dialog-main .mdl-textfield-span1_4,
    .dialog-main .mdl-textfield-span2_4,
    .dialog-main .mdl-textfield-span3_4,
    .dialog-main .mdl-textfield-span4_4 {
        width: 100%;
        display: inline-block;
    }
}

.mdl-textfield--date {
    width: 90px !important;
    margin-right: 0px !important;
    vertical-align: middle;
}

.mdl-textfield--time {
    width: 50px !important;
    margin-right: 0px !important;
    vertical-align: middle;
}

.mdl-textfield--udtime {
    width: 150px;
    margin-right: 0px !important;
    vertical-align: middle;
}

.mdl-textfield__datetime_suffix span.mdl-textfield__error {
    margin-top: -27px;
}

.mdl-textfield__input {
    padding-top: 4px;
    border-bottom: solid 1px rgba(0,0,0, 0.2);
    font-size: 14px;
    text-overflow: ellipsis;
}

.is-focused .mdl-textfield__charcount 
{
    color: rgba(0,0,0,0.4);
    transition: color 0.5s;  

}
    
.mdl-textfield__charcount {
    padding: 0 !important;
    position: absolute;
    top: 4px;
    right: 0px;
    font-size: 12px;
    color: white;
    transition: color 0.5s;
}

.mdl-textfield__disabledtext {
    font-size: 14px;
    padding: 2px 0;
    border-bottom: solid 1px transparent;
    min-height: 19px;
}

.mdl-textfield i.material-icons {
    color: rgba(0,0,0, 0.2);
    position: absolute;
    right: 0px;
    top: unset;
    transition: color 0.2s;
}

.mdl-textfield.is-focused i.material-icons {
    color: rgb(63,81,181);
    transition: color 0.2s;
}

.mdl-textfield > span {
    padding: 2px 0;
    display: block;
    font-size: 14px;
    min-height: 19px;
}

.mdl-textfield > span.mdl-treeview-container
{
    padding:0;
}

/*---------------------------------------------------------------------------
    Checkboxes
---------------------------------------------------------------------------*/
.mdl-checkbox {
    margin-top: 4px;
    height: unset;
}

.mdl-checkbox__label
{
    font-size: 14px;
}

.mdl-checkbox__container > label {
    padding: 0px 0px;
    position: relative;
    display: inline-block;
    width: 100%;
}

.mdl-checkbox__single-column > label {
    padding-right: 24px;
    width: unset;
}

.mdl-switch__label {
    font-size: 14px;
}


/*---------------------------------------------------------------------------
    Radio buttons
---------------------------------------------------------------------------*/
label.mdl-radio {
    width: 100%;
}

.mdl-radio__container > label {
    height: unset;
    padding: 0px 0px;
    position: relative;
    display: inline-block;
    width: 100%;
}

.mdl-radio__single-column > label {
    padding-right: 24px;
    width: unset;
}

.mdl-radio__label
{   
    font-size: 14px;
    display: inline-block;
    width: calc(100% - 10px);
}

.mdl-radio__ripple-container {
    position: absolute;
    z-index: 2;
    top: -6px;
    left: -10px;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(circle,#fff,#000);
}


/*---------------------------------------------------------------------------
    Dropdown select fields
---------------------------------------------------------------------------*/
.mdl-textfield select {
    -webkit-appearance: none;
    border: 0;
    border-bottom: solid 1px rgba(0,0,0, 0.2);
    padding: 4px 0;
    outline: 0;
    padding-right: 20px;
    text-overflow: ellipsis;
}

.mdl-textfield select {
    background-image: url(../images/arrow_drop_down.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.mdl-textfield select[multiple]
{
    background-color: rgba(255,255,255,0.7);
}

.mdl-textfield select::-ms-expand
{
    display: none;
}


/*---------------------------------------------------------------------------
    Listbox fields
---------------------------------------------------------------------------*/

.mdl-textfield .mdl-textfield__listbox
{
    box-sizing: border-box;
    padding-right: 20px;
    background-image: url(../images/arrow_drop_down.png);
    background-repeat: no-repeat;
    background-position: right center;
    text-overflow: ellipsis;
}

.mdl-textfield .mdl-textfield__listbox.mdl-textfield__listbox-empty
{
    border-bottom-style: dashed;
}


/*---------------------------------------------------------------------------
    Searchable drop-down lists
---------------------------------------------------------------------------*/

.mdl-textfield .mdl-textfield__searchabledropdownlist
{
    box-sizing: border-box;
    padding-right: 20px;
    background-image: url(../images/arrow_drop_down.png);
    background-repeat: no-repeat;
    background-position: right center;
    text-overflow: ellipsis;
}


/*---------------------------------------------------------------------------
    Treeview
---------------------------------------------------------------------------*/

.mdl-textfield .mdl-textfield__treeview
{
    box-sizing: border-box;
    padding-right: 20px;
    background-image: url(../images/arrow_drop_down.png);
    background-repeat: no-repeat;
    background-position: right center;
    text-overflow: ellipsis;
}


/*---------------------------------------------------------------------------
    Buttons
---------------------------------------------------------------------------*/
.mdl-button {
}

.mdl-button i
{
    width: 24px;
    height: 24px;
    text-align: center;
}

.mdl-button--fab:not(.mdl-button--raised) {
    background-color: transparent;
    box-shadow: none;
}

.mdl-button--fab:not(.mdl-button--raised):hover
{
    background-color: rgba(158,158,158, 0.20);
}

/* primary coloured buttons */

.mdl-button--primary.mdl-button--fab:not(.mdl-button--raised)
{
    color: rgb(63,81,181);
    background-color: transparent;
    box-shadow: none;
}


.mdl-button--primary.mdl-button--fab:not(.mdl-button--raised):hover
{
    background-color: rgba(158,158,158, 0.20);
}

/* accent coloured buttons */

.mdl-button--accent.mdl-button--fab:not(.mdl-button--raised)
{
    color: rgb(255,64,129);
    background-color: transparent;
    box-shadow: none;
}

.mdl-button--accent.mdl-button--fab:not(.mdl-button--raised):hover
{
    background-color: rgba(158,158,158, 0.20);
}

/* default buttons */
.mdl-button--default:not(.mdl-button--raised) {
    color: black;
    background-color: transparent;
}

.mdl-button--default.mdl-button--raised {
    color: black;
    background-color: rgba(158,158,158, 0.20);
}

.mdl-button--default:not(.mdl-button--raised):hover {
    background-color: rgba(158,158,158, 0.20);
}

.mdl-button--default .mdl-ripple {
    background-color: black;
}

/* primary and accent */

.mdl-button--primary:not(.mdl-button--raised) .mdl-ripple {
    background-color: black;
}

.mdl-button--accent:not(.mdl-button--raised) .mdl-ripple {
    background-color: black;
}


/* blue buttons */
.mdl-button--blue:not(.mdl-button--raised) {
    color: rgb(33,150,243);
    background-color: transparent;
}

.mdl-button--blue.mdl-button--raised {
    color: white;
    background-color: rgb(33,150,243);
}

.mdl-button--blue:not(.mdl-button--raised):hover
{
    background-color: rgba(158,158,158, 0.20);
}

.mdl-button--blue .mdl-ripple
{
    background-color: white;
}

.mdl-button--blue:not(.mdl-button--raised) .mdl-ripple {
    background-color: black;
}


/* red buttons */
.mdl-button--red:not(.mdl-button--raised) {
    color: rgb(255,82,82);
    background-color: transparent;
}

.mdl-button--red.mdl-button--raised {
    color: white;
    background-color: rgb(255,82,82);
}

.mdl-button--red:not(.mdl-button--raised):hover {
    background-color: rgba(158,158,158, 0.20);
}

.mdl-button--red .mdl-ripple {
    background-color: white;
}

.mdl-button--red:not(.mdl-button--raised) .mdl-ripple {
    background-color: black;
}


/* green buttons */
.mdl-button--green:not(.mdl-button--raised) {
    color: #C0CA33;
    background-color: transparent;
}

.mdl-button--green.mdl-button--raised {
    color: white;
    background-color: #C0CA33;
}

.mdl-button--green:not(.mdl-button--raised):hover {
    background-color: rgba(158,158,158, 0.20);
}

.mdl-button--green .mdl-ripple {
    background-color: white;
}

.mdl-button--green:not(.mdl-button--raised) .mdl-ripple {
    background-color: black;
}


/* yellow buttons */
.mdl-button--yellow:not(.mdl-button--raised) {
    color: #FDD835;
    background-color: transparent;
}

.mdl-button--yellow.mdl-button--raised {
    color: white;
    background-color: #FDD835;
}

.mdl-button--yellow:not(.mdl-button--raised):hover {
    background-color: rgba(158,158,158, 0.10);
}

.mdl-button--yellow .mdl-ripple {
    background-color: white;
}

.mdl-button--yellow:not(.mdl-button--raised) .mdl-ripple {
    background-color: black;
}


/* white buttons */
.mdl-button--white:not(.mdl-button--raised) {
    color: white;
    background-color: transparent;
}

.mdl-button--white.mdl-button--raised {
    color: white;
    background-color: black;
}

.mdl-button--white:not(.mdl-button--raised):hover {
    background-color: rgba(255,255,255, 0.10);
}

.mdl-button--white .mdl-ripple {
    background-color: white;
}

.mdl-button--white:not(.mdl-button--raised) .mdl-ripple {
    background-color: black;
}


/* disabled buttons */
.mdl-button--raised[disabled][disabled], .mdl-button--raised.mdl-button--disabled.mdl-button--disabled,
.mdl-button--fab[disabled][disabled], .mdl-button--fab.mdl-button--disabled.mdl-button--disabled 
{
    color: rgba(0,0,0, 0.26);
    cursor: default;
    background-color: transparent;
}

.mdl-button--white.mdl-button[disabled][disabled], .mdl-button--white.mdl-button.mdl-button--disabled {
    color: rgba(255,255,255, 0.40);
}

.mdl-button--primary.mdl-button--fab:not(.mdl-button--raised)[disabled]:hover,
.mdl-button--accent.mdl-button--fab:not(.mdl-button--raised)[disabled]:hover,
.mdl-button--default:not(.mdl-button--raised)[disabled]:hover,
.mdl-button--blue:not(.mdl-button--raised)[disabled]:hover,
.mdl-button--green:not(.mdl-button--raised)[disabled]:hover,
.mdl-button--red:not(.mdl-button--raised)[disabled]:hover,
.mdl-button--yellow:not(.mdl-button--raised)[disabled]:hover,
.mdl-button--white:not(.mdl-button--raised)[disabled]:hover {
    background-color: transparent;
}


/* active transparent button color */
.mdl-button--fab:not(.mdl-button--raised):active .mdl-button__ripple-container 
{
    background-color: rgba(158,158,158, 0.40);
}

.mdl-button--blue:not(.mdl-button--raised):not([disabled]):active,
.mdl-button--green:not(.mdl-button--raised):not([disabled]):active,
.mdl-button--red:not(.mdl-button--raised):not([disabled]):active,
.mdl-button--yellow:not(.mdl-button--raised):not([disabled]):active,
.mdl-button--white:not(.mdl-button--raised):not([disabled]):active {
    background-color: rgba(158,158,158, 0.30);
}


.mdl-button--blue:not(.mdl-button--raised)[disabled]:active,
.mdl-button--green:not(.mdl-button--raised)[disabled]:active,
.mdl-button--red:not(.mdl-button--raised)[disabled]:active,
.mdl-button--yellow:not(.mdl-button--raised)[disabled]:active,
.mdl-button--white:not(.mdl-button--raised)[disabled]:active {
    background-color: transparent;
}

.mdl-button--fab:not(.mdl-button--raised)[disabled]:active .mdl-button__ripple-container {
    background-color: transparent;
}


/*---------------------------------------------------------------------------
    Title bars
---------------------------------------------------------------------------*/

.mdl-layout__header {
    height: 56px;
    min-height: 0px;
}

.mdl-layout__header-row {
    height: 56px;
    padding: 0px 16px;
}

.mdl-title-bar {
    padding: 15px 30px;
    background-color: white;
    position: fixed;
    width: calc(100vw - 60px);
    z-index: 100;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.1)
}

.mdl-title-bar-spacer
{
    height: 70px;
}

.mdl-title-bar-centralized-container
{
    max-width: 800px;
    padding: 0px 40px;
    margin: auto;
}


.mdl-title-bar-label {
    line-height: 40px;
    font-size: 18px;
    vertical-align: middle;
}

.mdl-title-bar-report.mdl-title-bar-spacer {
    height: 116px;
}

.mdl-title-bar-report .mdl-title-bar {
    background-color: #424242;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

.mdl-title-bar-buttons
{
    padding-top: 10px;
}

.mdl-title-bar-title-and-tab {
    display: inline-block;
    vertical-align: middle;
}

.mdl-title-bar-tab
{
    display: none;
}

@media only screen and (min-width: 0px) and (max-width: 959px) {
    .mdl-title-bar-title-and-tab .mdl-title-bar-label {
        line-height: 14px;
        font-size: 12px;
        vertical-align: middle;
        display: block;
    }

    .mdl-title-bar-title-and-tab .mdl-title-bar-tab {
        display: block;
        font-weight: 400;
        line-height: 26px;
        font-size: 15px;
        width: 200px;
    }
}

/*---------------------------------------------------------------------------
    Dropdown selections
---------------------------------------------------------------------------*/
.mdl-dropdown-icon {
    cursor: pointer;
}

.mdl-dropdown-container {
    position: relative;
    display: inline;
}

.mdl-dropdown,
.easy-autocomplete-container > ul {
    display: none;
    background: #fff;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 2px;
    position: absolute;
    top: 30px;
    left: 0;
    overflow-y: auto;
    max-height: 400px;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.3);
    position: absolute;
    list-style: none;
    height: auto;
    width: auto;
    min-width: 300px;
    padding: 8px 0;
    margin: 0;
    list-style-type: none;
    line-height: 24px;
    z-index: 10;
    white-space: normal
}

.mdl-dropdown > ul
{
    list-style: none;
    margin: 0;
    padding: 0;

}



.mdl-dropdown {
    top: 36px;
}

.mdl-dropdown .mdl-button > i,
.mdl-dropdown .mdl-button > span:not(.mdl-ripple-container)
{
    opacity: 0.87;
}

.mdl-dropdown-left {
    left: 0px;
    right: unset;
}

.mdl-dropdown-right {
    right: 0px;
    left: unset;
}

.mdl-dropdown .mdl-button {
    display: block;
    border-radius: 0px;
    width: 100%;
    text-align: left;
    height: 48px;
    line-height: 48px;
}

.mdl-dropdown .mdl-dropdown-header
{
    display: block;
    border: none;
    color: rgba(0,0,0,.87);
    background-color: #e0e0e0;
    text-align: left;
    margin: 0;
    padding: 0 16px;
    position: relative;
    overflow: hidden;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: none;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    transition: background 0.5s;
    font-weight: bold;
}

.mdl-dropdown .mdl-dropdown-item, 
.easy-autocomplete-container > ul > li {
    display: block;
    border: none;
    color: rgba(0,0,0,.87);
    background-color: transparent;
    text-align: left;
    margin: 0;
    padding: 0 16px;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: none;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    white-space: nowrap;
    transition: background 0.5s;
}

.mdl-dropdown .mdl-dropdown-item:hover
{
    background-color: #eeeeee;
    transition: background 0.5s;
}

.easy-autocomplete-container > ul > li b {
    font-weight: normal;
    color: #1E88E5;
}

.easy-autocomplete-container > ul > li.selected {
    background-color: #eee;
    transition: background 0.5s;
}


/*---------------------------------------------------------------------------
    Treeview dropdowns
---------------------------------------------------------------------------*/

.treenode {
    color: Gray;
    font-size: 14px !important;
    font-weight: normal;
}

.treenode a {
    color: blue;
    font-size: 14px !important;
    font-weight: normal;
}

.mdl-treeview img {
    width: 36px;
    height: 36px;
}

.mdl-treeview table
{
    min-width: 100%;
    cursor: pointer;
}

.mdl-treeview td.treenode a
{
    height: 36px;
    line-height: 36px;
    background-color: white;
    transition: background-color 0.5s;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;

}

.mdl-treeview .treenode a:hover
{
    background-color: #eeeeee;
    transition: background-color 0.5s;
}

.mdl-treeview table > tbody > tr > td:not(.treenode)
{
    width: 36px;
}

.mdl-treeview table > tbody > tr > td:.treenode 
{
}

.mdl-treeview 

.mdl-treeview-dropdown
{
    width:350px;
    min-width:350px;
    height:400px;
    max-height:400px;
    overflow: none;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.3);
    position: absolute;
    z-index: 1000;
}

.mdl-treeview-container .mdl-textfield__input {
    display: inline-block;
    width: calc(100% - 24px);
}

.mdl-treeview-dropdown-div {
    height: 400px;
    width: 350px;
    overflow: scroll;
    background-color: white;
    –webkit-overflow-scrolling: touch;
}

.mdl-treeview-dropdown > a
{
    display: none;
}

.mdl-treeview-dropdown #treeGlance
{
    margin: 10px;
}

/*---------------------------------------------------------------------------
   Searchable drop downs
---------------------------------------------------------------------------*/
.mdl-searchable-dropdown
{
    display: block;
    border: none;
    color: rgba(0,0,0,.87);
    background-color: transparent;
    text-align: left;
    margin: 0;
    padding: 0 16px;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: none;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    white-space: nowrap;
    transition: background 0.5s;
}

.mdl-searchable-dropdown a
{

}

/*
    Material-style ripples
*/
.mdl-custom-ripple {
    position: relative;
}

.mdl-custom-ripple .mdl-ripple {
    background-color: white;
}

.mdl-custom-ripple.mdl-custom-ripple-dark .mdl-ripple {
    background-color: black;
}

.mdl-custom-ripple .mdl-ripple-container {
    display: block;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}


/*---------------------------------------------------------------------------
    Function listing
---------------------------------------------------------------------------*/

.mdl-function-listing__label {
    color: rgb(33,150,243);
}

.mdl-function-listing__item:hover .mdl-function-listing__label {
    color: rgb(33,150,243);
    transition: color 0.5s;
}

.mdl-function-listing-title {
    display: block;
    font-size: 20px;
    color: #bdbdbd;
    padding: 24px 36px;
}

.mdl-function-listing-level2 {
    list-style: none;
    padding: 0px;
    /*column-width: 336px;
    column-gap: 0px;
    column-fill: balance;*/
    margin: 0px;
}

@media screen and (min-width: 700px) and (max-width: 1049px) {
    .mdl-function-listing-level2 {
        width: 700px
    }
}

@media screen and (min-width: 1050px) and (max-width: 1399px) {
    .mdl-function-listing-level2 {
        width: 1050px
    }
}

@media screen and (min-width: 1400px) {
    .mdl-function-listing-level2 {
        width: 1400px
    }
}

.mdl-function-listing-level2 > li {
    display: inline-block;
    padding-left: 36px;
    vertical-align: top;
    /*float: left;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;*/
}

.mdl-function-listing-level3 {
    list-style: none;
    padding: 0px;
    display: block;
    width: calc(100vw - 72px);
    background-color: white;
    border-radius: 2px;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.3);
    padding-bottom: 8px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 36px;
}

.mdl-function-listing-level3 > li {
    line-height: 16px;
    padding: 0px 0px;
    vertical-align: top;
}

.mdl-function-listing-level3 > li > a {
    padding: 10px 0px;
    display: inline-block;
    white-space: nowrap;
    width: calc((100vw - 80px) / 3);
}


@media only screen and (min-width:0px) and (max-width: 599px) {
    .mdl-function-listing-level3 > li > a {
        width: calc((100vw - 72px) / 1);
    }
}

@media only screen and (min-width:600px) and (max-width: 959px) {
    .mdl-function-listing-level3 > li > a {
        width: calc((100vw - 76px) / 2);
    }
}


.mdl-function-listing__header {
    color: rgb(33,150,243);
    border-bottom: solid 1px #eeeeee;
    margin-bottom: 10px;
    height: 40px;
    line-height: 48px;
    padding-top: 4px;
    display: block;
    width: 100%;
}

.mdl-function-listing__header > span {
    padding-left: 5px;
}

.mdl-function-listing__header > a
{
    cursor: default;
}

.mdl-function-listing__header > a > i {
    width: 40px;
    display: inline-block;
    text-align: center;
    color: rgb(33,150,243);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 26px;
}

.mdl-function-listing__header > a > .mdl-function-listing__label {
}

.mdl-function-listing__item {
    transition: background 0.5s;
    width: calc((100vw - 80px) / 3);
    display: inline-block;
}

@media only screen and (min-width:0px) and (max-width: 599px)
{
    .mdl-function-listing__item {
        width: calc((100vw - 72px) / 1);
    }
}

@media only screen and (min-width:600px) and (max-width: 959px) {
    .mdl-function-listing__item {
        width: calc((100vw - 76px) / 2);
    }
}


.mdl-function-listing__item:hover {
    color: rgb(33,150,243);
        
    transition: background 0.5s;
}

.mdl-function-listing__item > a > .mdl-function-listing__code {
    padding-left: 10px;
    width: 40px;
    padding-right: 10px;
    display: inline-block;
    text-align: center;
    color: #bdbdbd;
    font-weight: 400;
    font-size: 11px;
    vertical-align: top;
}

.mdl-function-listing__item > a > .mdl-function-listing__label {
    color: rgba(0,0,0,0.87);
    display: inline-block;
    transition: color 0.5s;
    white-space: normal;
    width: calc(100% - 80px);
}

/*---------------------------------------------------------------------------
    Navigation
---------------------------------------------------------------------------*/
.mdl-navigation__separator {
    padding-bottom: 5px;
    border-top: solid 1px rgba(255,255,255,0.3);
    font-size: 0px;
    height: 0px;
    margin-top: 5px;
}

/*---------------------------------------------------------------------------
    Snack bars
---------------------------------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 479px) {
    .mdl-snackbar {
        width: 100vw;
    }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
    .mdl-snackbar {
        width: calc(100vw - 40px)
    }
}

@media screen and (min-width: 640px) {
    .mdl-snackbar {
        width: 600px
    }
}

.mdl-snackbar
{
    z-index: 1000000000;
}


/*---------------------------------------------------------------------------
    Sub-object panels
---------------------------------------------------------------------------*/
.subobject-panel {
    border: solid 5px #4DBCE9;
    background-color: white;
    padding: 24px 50px 36px 74px;
}

.dialog-main .subobject-panel {
    border: none;
    background-color: white;
    padding: 0;
}


/*---------------------------------------------------------------------------
    Side tabs
---------------------------------------------------------------------------*/
.mdl-tabs__tab sup
{
    line-height: 0
}

.mdl-tabsv.mdl-tabs {
    display: inline-block;
    width: 200px;
}

@media only screen and (min-width:0px) and (max-width: 959px)
{
    .mdl-tabsv.mdl-tabs {
        display: none;
    }
}

.mdl-tabsv .mdl-tabs__tab-bar {
    display: block;
    border-bottom: none;
    position: fixed;
    width: 200px;
    height: calc(100vh - 70px);
    overflow-y: auto;
    background-color: white;
    border-right: solid 2px #eeeeee;
    z-index: 20;
    top: 70px;
}

.mdl-tabsv .mdl-tabs__tab.is-active:after {
    display: none !important;
    height: 0px !important;
    background: none !important;
}

a.mdl-tabs__tab {
    text-transform: none !important;
}

.mdl-tabsv a.mdl-tabs__tab {
    display: block;
    float: none;
    text-align: left;
}

.mdl-tabs.is-upgraded.mdl-tabsv .mdl-tabs__tab.is-active {
    color: rgb(33,150,243);
    border-left: solid 10px rgba(33,150,243,1.0);
    transition: border 0.5s, padding 0.5s;
    line-height: 48px;
    padding-left: 14px;
}

.mdl-tabs.is-upgraded.mdl-tabsv .mdl-tabs__tab.is-active:after {
    height: 100%;
    width: 0px;
    display: block;
    content: " ";
    top: 0px;
    left: calc(100% - 2px);
    background: none;
}

.mdl-tabsv-content {
    display: inline-block;
    width: calc(100% - 202px);
    vertical-align: top;
    /* padding: 0px 10px 0px 10px; */
    border-left: solid 2px #eeeeee;
}

@media only screen and (min-width: 0px) and (max-width: 959px)
{
    .mdl-tabsv-content {
        width: calc(100%);
    }
}

/*---------------------------------------------------------------------------
    DataTables.net's grids and UIFramework's grid views.
---------------------------------------------------------------------------*/
.DTCR_clonedTable
{
    background-color: #e0e0e0;
    opacity: 0.5;
}

.DTCR_pointer
{
    background-color: #bdbdbd;
    width: 1px;
}

table.fixedHeader-floating
{
    position:fixed !important
}

table.fixedHeader-floating.no-footer
{
    border-bottom-width:0
}

table.fixedHeader-locked
{
    position:absolute !important
}

@media print{
    table.fixedHeader-floating
    {
        display:none
    }

}

.grid-container th a::selection {
    background-color: white;
}

.grid-container td::selection {
    background-color: white;
}

.grid-outer {
    border: solid 1px #e0e0e0;
    border-radius: 2px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1)
}

.grid-headerscrollable {
    background-color: #eeeeee;
    color: #555555;
}

.grid-rowscrollable {
    border-left: solid 1px #cfcfcf;
    border-right: solid 1px #cfcfcf;
    border-bottom: solid 1px #cfcfcf;
}

.grid-footerscrollable {
    border-top: solid 2px #aaaaaa;
    border-bottom: solid 1px #cccccc;
}

.grid-caption {
    vertical-align: middle;
    color: #444;
    /* padding-top: 20px; */
    /* border: beige; */
    height: 50px;
    color: rgba(0,0,0,0.4);
}

.grid-caption div {
    font-weight: 400;
    font-size: 19px;
    color: rgba(0,0,0,0.4);
}

.grid-caption-error div, .grid-caption-error img {
    font-weight: bold;
    font-size: 10pt;
    padding: 0px 0px 2px 0px;
    margin: 8px 0px 0px 0px;
    clear: both;
}


.grid-caption-error {
    color: #cc0000;
}

.grid-command {
    padding: 6px 8px 6px 8px;
    border: none;
}

.dataTables_wrapper
{
    position: relative;
}

.mdl-data-table td.dataTables_empty {
    color: #bdbdbd;
    text-align: center;
}


.dt-buttons {
    position: absolute;
    bottom: -44px;
    left: 0px;
    z-index: 1000;
}

.dt-buttons > button.dt-button
{
    vertical-align: middle;
    line-height: 32px;
    background: none;
    border: 0;
    outline: 0;
    border-radius: 32px;

    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    padding: 0;
    font-size:16px;

    width:32px;
    height:32px;
    margin: 4px;
    
    color: #757575;
    transition: background-color 0.5s;
    cursor: pointer;
}
.dt-buttons > button.dt-button:hover
{
    background-color: #eeeeee;
    transition: background-color 0.5s;
}
.dt-buttons > button.dt-button > span
{
    display:none;
}
button.dt-button.buttons-colvis::after
{
    content: "\f0db";
}
button.dt-button.buttons-copy::after
{
    content: "\f0c5";
}
button.dt-button.buttons-excel::after
{
    content: "\f1c3";
}
button.dt-button.buttons-csv::after
{
    content: "\f15c";
}
button.dt-button.buttons-pdf::after
{
    content: "\f1c1";
}
button.dt-button.buttons-print::after
{
    content: "\f02f";
}

button.dt-button.buttons-columnVisibility {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0 20px;
    height: 36px;
    background-color: white;
    border: 0;
    border-bottom: solid 1px #e0e0e0;
    color: #757575;
    cursor: pointer;
}

.dt-button-collection {
    background-color: white;
    width: 300px;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.3);
    z-index: 100000;
    border-radius: 2px;
    position: absolute;
   
}

button.dt-button.buttons-columnVisibility
{
    background-color: white;
    transition: background-color 0.5s;
}
button.dt-button.buttons-columnVisibility:hover
{
    background-color: #eeeeee;
    transition: background-color 0.5s;
}

button.dt-button.buttons-columnVisibility.active
{
    color: rgb(33,150,243);
}

button.dt-button.buttons-columnVisibility span::before {
    content: " ";
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-right: 10px;
    width: 20px;
}


button.dt-button.buttons-columnVisibility.active span::before {
    content: "\f00c";
}

.mdl-grid-error {
    background-color: #d50000;
    padding: 8px 12px;
    border-radius: 5px;
}

.mdl-grid-error i {
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    width: 16px;
    height: 16px;
    padding-right: 8px;
    line-height: 16px;
}

.mdl-grid-error span {
    font-size: 13px;
    color: white;
    line-height: 16px;
}

.mdl-data-table
{
}

.mdl-data-table.fixedHeader-floating
{
    z-index: 10;
}
.mdl-data-table th, .mdl-data-table td {
    box-sizing: unset;
}

.mdl-data-table-pager-div
{
    height: 48px;
    vertical-align: middle;
    line-height: 48px;
    padding: 0 24px;
}

.mdl-data-table-pager {
    vertical-align: middle;
}

.mdl-data-table td {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 18px;
}

.mdl-data-table th {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 18px;
}

.mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
    padding-left: 18px;
}

.mdl-data-table td:last-of-type, .mdl-data-table th:last-of-type {
    padding-right: 18px;
}

.mdl-data-table tfoot td {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

.mdl-data-table-pager-text {
    padding-right: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.mdl-data-table-pager-count
{
    text-align: left;
}

.mdl-data-table-pager-count button {
    font-size: 13px;
}

.mdl-data-table-pager-selected {
    color: white;
    background-color: rgb(33,150,243);
}

.mdl-data-table th {
    padding-bottom: 8px;
}

.mdl-data-table th, .mdl-data-table td {
    text-align: left;
}

.mdl-data-table th, .mdl-data-table td {
}

.grid-header
{
    background-color: #f7f7f7;
}

.grid-header a, .grid-header a:hover, .grid-header a:visited {
    font-weight: bold;
    color: #757575;
    padding: 0;
}

.grid-footer {
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
    background-color: #f7f7f7;
}

.grid-footer td {
    font-weight: bold;
    border: none;
    /* height: 16px; */
    border-bottom: solid 1px #dddddd;
    padding: 6px 8px;
    font-size: 10pt;
    height: 50px;
    vertical-align: middle;
}


.grid-header .mdl-checkbox,
.grid-row .mdl-checkbox {
    margin-top: 0;
    height: 24px;
}

.grid-row input[type="image"] {
    width: 20px;
    height: 20px;
}

.grid-row-clickable
{
    cursor: pointer;
}

.mdl-data-table tbody tr.grid-row.grid-row-editable
{
}

.mdl-data-table tbody tr.grid-row.grid-row-viewable {
}

.mdl-data-table tbody tr a {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

.mdl-data-table tbody tr .grid-row-editable-link {
    color: blue;
    text-decoration: underline;
}

.mdl-data-table tbody tr .grid-row-viewable-link {
    color: gray;
    text-decoration: underline;
}

.mdl-data-table tbody tr.grid-row.grid-row-disabled
{
}

.mdl-data-table tbody tr.grid-row.grid-row-disabled:hover
{
}



.grid-emptyrow td {
    height: 50px;
    /* border-bottom: solid 1px #cccccc; */
    white-space: normal;
    text-align: center;
    vertical-align: middle;
    color: #9E9E9E;
    font-size: 10pt;
    background-color: white;
    font-style: italic;
}

.grid-row td table {
    border: none;
    padding: 0 0 0 0;
    height: auto;
}

.grid-row td table td {
    padding: 0 0 0 0;
    border: none;
    height: auto;
}


/*---------------------------------------------------------------------------
    Date Pickers
---------------------------------------------------------------------------*/

#AUFCalSlide {
    overflow: hidden;
    width: 280px;
    height: 280px;
    padding: 10px;
}

#AUFMYSlide {
    overflow: hidden;
}

#AUFCal, #AUFMY {
    font-family: Roboto, Arial;
    width: 300px;
    min-width: 300px;
    border: none;
    position: absolute;
    background-color: White;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.3);
    z-index: 1000001;
    border-radius: 2px;
}


#AUFMY {
    width: 300px;
}

#AUFCalHeader, #AUFMYHeader {
    color: white;
    background-color: #eee;
    height: 43px;
    width: 300px;
}

#AUFCalMonthYear, #AUFMYYear {
    padding-top: 3px;
}

#AUFCalLeft, #AUFCalRight, #AUFMYLeft, #AUFMYRight {
    width: 40px;
}

#AUFCalLeft a, #AUFMYLeft a,
#AUFCalRight a, #AUFMYRight a {
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
}

    #AUFCalLeft a div, #AUFMYLeft a div {
        display: inline-block;
        border: solid 6px transparent;
        border-right: solid 6px black;
    }

    #AUFCalRight a div, #AUFMYRight a div {
        display: inline-block;
        border: solid 6px transparent;
        border-left: solid 6px black;
    }

#AUFCalMonthYear, #AUFMYYear {
    text-align: center;
    width: 220px;
}

#AUFCalWeeks td {
    color: #bbb;
    font-size: 12px;
}

#AUFCalCells, #AUFMYCells {
    font-family: Roboto, Arial;
    font-size: 12px;
    width: 280px;
    border-spacing: none;
    position: relative;
    top: 0px;
    left: 0px;
}

    #AUFCalCells td, #AUFMYCells td {
        width: 40px;
        height: 40px;
        text-align: center;
        vertical-align: center;
        font-size: 14px;
    }

    #AUFMYCells td {
        width: 60px;
        height: 60px;
    }

    #AUFCalCells a,
    #AUFMYCells a {
        text-decoration: none;
        display: inline-block;
        /* padding-top: 10px; */
        width: 40px;
        height: 40px;
        color: black;
        font-size: 14px;
        vertical-align: middle;
        line-height: 40px;
        border-radius: 20px;
    }

    #AUFMYCells a {
        padding-top: 22px;
        width: 40px;
        height: 36px;
    }

#AUFCalToday, #AUFMYThisMonth {
    border-top: solid 1px #e0e0e0;
    height: 40px;
}

#AUFCalToday a,
#AUFMYThisMonth a {
    text-decoration: none;
    display: block;
    /* padding-top: 9px; */
    height: 40px;
    color: rgb(33,150,243);
    line-height: 40px;
}


.AUFSel select, .AUFSelY select {
    font-family: Roboto, Arial;
    font-size: 16px;
    background: transparent;
    width: 60px;
    height: 40px;
    border: 0;
    color: black;
    line-height: 1;
    border-radius: 0;
    outline: 0;
    -webkit-appearance: none;
}

.AUFSel, .AUFSelY {
    display: inline-block;
    width: 60px;
    height: 40px;
    overflow: hidden;
    background: url('../images/datepicker-dn.gif') no-repeat right transparent;
    border: none;
    color: white;
}

a.calsel {
    background-color: rgb(33,150,243);
    color: white !important;
    transition: background-color 0.2s, color 0.2s;
}

a.calnor {
    background-color: white;
    color: black;
    transition: background-color 0.2s, color 0.2s;
}

#AUFCalCells a:hover,
#AUFMYCells a:hover,
#AUFCalToday a:hover,
#AUFMYThisMonth a:hover,    
.calnor:hover, 
.calsel:hover
{
    color: black;
    background-color: #eeeeee;
    transition: background-color 0.2s, color 0.2s;
}

#AUFCalCells a.caldis:hover,
#AUFMYCells a.caldis:hover
{
    color: black;
    background-color: white;
    cursor: default
}


/*---------------------------------------------------------------------------
    Dialog
---------------------------------------------------------------------------*/

.mdl-dialog-backdrop {
    background-color: rgba(255,255,255,0.0);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color 0.3s;
    z-index: 100;
}

.mdl-dialog-backdrop-visible
{
    background-color: rgba(255,255,255,0.8);
    transition: background-color 0.5s;
}

.dialog-main {
    background-color: white;
    padding: 20px 20px;
    height: 420px;
    max-height: calc(100vh - 120px);
    box-sizing: border-box;
    –webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 0px) and (max-width: 799px) {
    .dialog-main {
        height: calc(100vh - 120px);
    }
}


.dialog-bg {
    background-color: rgba(255,255,255,0.8);
    z-index: 99999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}


.mdl-dialog-modal {
    width: 750px;
    max-height: 100vh;
    position: fixed;
    left: calc((100vw - 750px) / 2);
    top: calc((100vh - 540px) / 2);

    background-color: white;

    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

@media only screen and (min-width: 0px) and (max-width: 799px) {
    .mdl-dialog-modal {
        width: 100vw;
        left: 0;
        top: 0;
    }
}

@media only screen and (max-height: 539px) {
    .mdl-dialog-modal {
       top: 0px;
    }
}


.mdl-dialog-backdrop-visible > .mdl-dialog-modal,
.mdl-dialog-backdrop-visible > span > span > span > .mdl-dialog-modal,
.mdl-dialog-backdrop-visible > .mdl-dialog-select,
.mdl-dialog-backdrop-visible > span > span > span > .mdl-dialog-select {
    transform: none;
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.mdl-dialog-select {
    width: 450px;
    max-height: 100vh;

    position: fixed;
    left: calc((100vw - 450px) / 2);
    top: calc((100vh - 540px) / 2);

    background-color: white;

    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .mdl-dialog-select {
        width: 100vw;
        left: 0;
        top: 0;
    }
}


@media only screen and (max-height: 539px) {
    .mdl-dialog-select
    {
        top: 0px;
    }
}


.mdl-dialog__title-container .mdl-dialog__title {        
    width: calc(100% - 60px);
    display: inline-block;
    vertical-align: middle;
}

.mdl-dialog__title-container button.mdl-button {
    position: relative;
    bottom: unset;
}

.mdl-dialog button.mdl-search-dialog-button {
    position: relative;
    bottom: unset;
    vertical-align: text-bottom;
}

.mdl-dialog__title {
    padding: 18px 24px;
    margin: 0;
    font-size: 18px;
    background-color: #bdbdbd;
    color: black;
    font-weight: 400;
    height: 60px;
    line-height: 24px;
    box-sizing: border-box;
}

.mdl-dialog__title-container
{
    background-color: #bdbdbd;
}

.mdl-dialog__search {
    line-height: 36px;
    padding: 12px 24px;
    background-color: #f7f7f7;
    height: 60px;
    box-sizing: border-box;
    font-size: 0px;
}

.mdl-dialog__search .mdl-button, td button.mdl-button.mdl-dialog-single-selection {
    position: relative;
    bottom: unset;
}


.mdl-dialog__search input {
    display: inline-block;
    width: calc(100% - 36px);
    outline: 0;
}

.mdl-dialog__search.mdl-dialog__search-with-search-button input 
{
    width: calc(100% - 36px - 36px);
}

.mdl-dialog__actions
{
    line-height: 36px;
    padding: 12px 24px;
    background-color: #f7f7f7;
    height: 60px;
    box-sizing: border-box;
}

.mdl-dialog__actions .mdl-button
{
    position: relative;
    bottom: 0px;
}

.mdl-dialog__item {
    
    border-bottom: solid 1px #eeeeee;
    background-color: white;
    transition: background-color 0.5s;
    box-sizing: border-box;
}

.mdl-dialog__item:hover
{
    background-color: #eeeeee;
    transition: background-color 0.5s;
}

.mdl-dialog__item label.mdl_dialog__item-label
{
    padding-left: 24px;
}


.mdl-dialog__item label.mdl_dialog__item-label::before
{    
    content: " ";
    font-family: "Font Awesome\ 5 Free";
    /* background-color: white; */
    font-weight: 900;
    color: rgb(33,150,243);
    display: inline-block;
    width:24px;
}


.mdl-dialog__item-selected label.mdl_dialog__item-label::before
{    
    content: "\f00c";
    font-family: "Font Awesome\ 5 Free";
    /* background-color: white; */
    font-weight: 900;
    color: rgb(33,150,243);
    display: inline-block;
    width:24px;
}

.mdl-dialog__item label.mdl-checkbox
{
    padding: 12px 24px;
    padding-left: 48px;
    margin: 0;
    height: 48px;
    box-sizing:border-box;
}

.mdl-dialog__item label
{
    display: block;
    padding: 12px 24px;
    margin: 0;
    height: 48px;
    box-sizing:border-box;
    line-height: 24px;
    padding-left: 48px;
}


.mdl-dialog__item .mdl-checkbox__focus-helper
{
    top: 15px;
    left: 24px;
}

.mdl-dialog__item .mdl-checkbox__box-outline
{
    top: 15px;
    left: 24px;
}

.mdl-dialog__item .mdl-checkbox__ripple-container 
{
    top: 6px;
    left: 14px;
}
    
.mdl-dialog__search-content
{
    height: 360px;
    max-height: calc(100vh - 180px);
    overflow-x: hidden;
    overflow-y: auto;
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .mdl-dialog__search-content {
        height: calc(100vh - 180px);
    }
}

.mdl-dialog__search-content.mdl-dialog__search-treeview-content
{
    overflow-x: auto;
}



/*---------------------------------------------------------------------------
    Search Dialog
---------------------------------------------------------------------------*/
.mdl-search-dialog__search-bar {
    width: 500px;
    display: inline-block;
    vertical-align: middle;
}


 
/*---------------------------------------------------------------------------
    Dialog (Date Picker)
---------------------------------------------------------------------------*/

.mdl-dialog-datepicker {
    width: calc(48px * 7 + 24px);
    height: 540px;
    position: absolute;
    top: calc((100vh - 540px) / 2);
    left: calc((100vw - 360px) / 2);
}


@media only screen and (min-width: 0px) and (max-width: 599px) {
    .mdl-dialog-datepicker {
        width: 100vw;
        top: 0;
        left: 0;
    }
}


@media only screen and (max-height: 539px) {
    .mdl-dialog-select.mdl-dialog-datepicker
    {
        top: 0px;
    }
}

.mdl-dialog-datepicker__selector
{
    height: 48px;
    line-height: 48px;
    padding: 0px 12px 0px 24px;
    font-size: 0px;
    padding-top: 12px;
}

.mdl-dialog-datepicker__selector button
{
    width: 48px;
    height: 48px;
    line-height: 48px;
}

.mdl-dialog-datepicker__selector-group
{
    display: inline-block;
    width: 228px;
    font-size: 14px;
    vertical-align: middle;
    color: #bdbdbd;
    transition: color 0.5s;
    font-weight: bold;
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .mdl-dialog-datepicker__selector-group {
        width: calc(100vw - 132px);
    }
}

.mdl-dialog-datepicker__selector-group label
{
    display: block;
}

.mdl-dialog-datepicker__selector-group:hover
{
    color: black;
    transition: color 0.5s;
    font-weight: bold;
}

.mdl-dialog-datepicker__content {
    width: calc(336px + 24px);
    height: 360px;
    overflow: hidden;
    background-color: white;
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .mdl-dialog-datepicker__content {
        height: calc(100vh - 180px);
        padding-left: calc((100vw - 360px) / 2);
        padding-right: calc((100vw - 360px) / 2);
        background-color: white;
    }

    .mdl-dialog-datepicker__content.mdl-dialog-datepicker__content-days-container,
    .mdl-dialog-datepicker__content.mdl-dialog-datepicker__content-months-container {
    }

    .mdl-dialog-datepicker__content.mdl-dialog-datepicker__content-years-container {
        padding-left: 0px;
        padding-right: 0px;
        width: 100vw;
    }

    .mdl-dialog-datepicker__content.mdl-dialog-datepicker__content-years-container
    .mdl-dialog-datepicker__content-days {
        width: 100vw;
    }
}


.mdl-dialog-datepicker__content-days
{
    font-size: 0px;
    padding: 0px 0px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 360px;
    width: 360px;
    box-sizing: border-box;
}

@media only screen and (min-width: 0px) and (max-width: 599px)
{
    .mdl-dialog-datepicker__content-days
    {
        height: calc(100vh - 180px);
    }
}


.mdl-dialog-datepicker__content-days div
{
    font-size: 14px;
}


.mdl-dialog-datepicker__content-days__header,
.mdl-dialog-datepicker__content-days__empty
{
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;

}


.mdl-dialog-datepicker__content-days__day {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius:50%;
    background-color: white;
    transition: background-color 0.5s;
    vertical-align: middle;
    cursor: pointer;
}

.mdl-dialog-datepicker__content-days__day-selected,
.mdl-dialog-datepicker__content-days__day-selected:hover
{
    background-color: rgb(33,150,243);
    color: white;
}


.mdl-dialog-datepicker__content-days__header
{
    color: #bdbdbd;
}

.mdl-dialog-datepicker__content-days__day:hover
{
    background-color: #eeeeee;
    transition: background-color 0.5s;
}


.mdl-dialog-datepicker__content-months__month
{
    display: inline-block;
    width: 84px;
    height: 84px;
    line-height: 84px;
    padding: 12px;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    transition: background-color 0.5s;
    vertical-align: middle;
    cursor: pointer;
}

.mdl-dialog-datepicker__content-months__month > div
{
    border-radius:50%;
    line-height: 60px;
    width: 60px;
    height: 60px;
}

.mdl-dialog-datepicker__content-months__month:hover > div
{
    background-color: #eeeeee;
    transition: background-color 0.5s;
}

.mdl-dialog-datepicker__content-months__month-selected > div,
.mdl-dialog-datepicker__content-months__month-selected:hover > div
{
    background-color: rgb(33,150,243);
    color: white;
}

.mdl-dialog-datepicker__content-years__year
{
    box-sizing: border-box;
    height: 48px;
    line-height: 48px;
    border-bottom: solid 1px #eeeeee;
    padding: 0px 24px;
    transition: background-color 0.5s;
}

.mdl-dialog-datepicker__content-years__year:hover
{
    background-color: #eeeeee;
    transition: background-color 0.5s;
}


/*---------------------------------------------------------------------------
    Workflow progress bar
---------------------------------------------------------------------------*/


ul.mdl-workflow
{
  display: table;
  margin: 0;
  margin-left: 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

ul.mdl-workflow > li
{
  display: table-cell;
  width: 100px;
  position: relative;
}

ul.mdl-workflow > li > .mdl-workflow-number
{
  width: 36px;
  height: 36px;
  display: block;
  margin: auto;

  line-height: 36px;
  box-siding: border-box;
  text-align: center;
  border-radius: 36px;

  border: solid 2px black;
  background-color: white;
  color: black;
}

ul.mdl-workflow > li.is-active > .mdl-workflow-number
{
  border: solid 2px black;
  background-color: black;
  color: white;  
}

ul.mdl-workflow > li.is-active ~ li > .mdl-workflow-number
{
  border: solid 2px #BDBDBD;
  background-color: white;
  color: #BDBDBD;  
}


ul.mdl-workflow > li:not(:last-child) > .mdl-workflow-number:after
{
  position: absolute;
  left: calc(50% + 20px);
  content:"";
  width: calc(100% - 30px);
  height: 2px;
  background-color: black;
  top: 18px;
  border-style: dashed;
  height: 0px;
  border-width: 1px;
}

ul.mdl-workflow > li.is-active > .mdl-workflow-number:after
{
  background-color: black;
  border-style: dashed;
}

ul.mdl-workflow > li.is-active ~ li > .mdl-workflow-number:after
{
  background-color: #BDBDBD;
}


ul.mdl-workflow > li > .mdl-workflow-name
{
  display: block;
  padding: 5px 10px 0px 10px;
  text-align: center;
  margin: auto;
  color: black;
  font-size: 12px;
}

ul.mdl-workflow > li.is-active ~ li > .mdl-workflow-name
{
  color: #BDBDBD;  
}

.mdl-workflow-status
{
  text-align: center;
  display: block;
  border-radius: 20px;
  background-color: #1976D2;
  color: white;
  padding: 4px 0px;
  margin: 0px 10px;
  font-size: 13px;
}

ul.mdl-workflow > li.is-active > .mdl-workflow-name:after
{
  content: "";
  display: block;
  width:20px;
  height:20px;
  margin: auto;
  border-bottom: solid 10px #1976D2;
  box-sizing: border-box;
  border-left: solid 10px white;
  border-right: solid 10px white;
  border-top: solid 10px white;
}

.mdl-chip-green > ul.mdl-workflow > li.is-active > .mdl-workflow-name:after
{
  border-bottom: solid 10px #C0CA33;  
}

.mdl-chip-green .mdl-workflow-status
{
  background-color: #C0CA33;
}

.mdl-chip-blue > ul.mdl-workflow > li.is-active > .mdl-workflow-name:after
{
  border-bottom: solid 10px rgb(33,150,243);
}

.mdl-chip-blue .mdl-workflow-status
{
  background-color:  rgb(33,150,243);
}

.mdl-chip-red > ul.mdl-workflow > li.is-active > .mdl-workflow-name:after
{
  border-bottom: solid 10px rgb(255,82,82);
}

.mdl-chip-red .mdl-workflow-status
{
  background-color: rgb(255,82,82);
}

.mdl-chip-yellow > ul.mdl-workflow > li.is-active > .mdl-workflow-name:after
{
  border-bottom: solid 10px #FDD835;
}

.mdl-chip-yellow .mdl-workflow-status
{
  background-color: #FDD835;
}

.mdl-chip-gray > ul.mdl-workflow > li.is-active > .mdl-workflow-name:after
{
  border-bottom: solid 10px #BDBDBD;
}

.mdl-chip-gray .mdl-workflow-status
{
  background-color: #BDBDBD;
}

.mdl-workflow-strikethrough
{
  position: relative;
}

.mdl-workflow-strikethrough > ul, 
.mdl-workflow-strikethrough > .mdl-workflow-status
{
  opacity: 0.3;
  position: relative;
}


.mdl-workflow-cancelled {
    font-size: 24px;
    font-weight: bold;
    display: block;
    position: absolute;
    top: 0px;
    width: 150px;
    border: solid 2px rgb(255,82,82);
    color: rgb(255,82,82);
    left: calc((100% - 182px) / 2);
    text-align: center;
    padding: 8px 16px;
    border-radius: 100px;
    background-color: rgba(255,255,255,0.8);
}


/*---------------------------------------------------------------------------
    Workflow Diagram
---------------------------------------------------------------------------*/
.csscanvas ul,
.csscanvas li {
    margin: 0;
    padding: 0;
}

.csscanvas {
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
}

    .csscanvas ul {
        list-style: none;
        z-index: 9000;
    }

    .csscanvas div {
        z-index: 10000;
    }

    .csscanvas li.state {
        background-color: #4390DF;
        color: #FFF;
        position: absolute;
        filter: alpha(opacity=100);
        opacity: 1.00;
        z-index: 9001;
        border: solid 1px #ccc;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        /*box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12), 0px 2px 3px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12), 0px 2px 3px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12), 0px 2px 3px rgba(0, 0, 0, 0.24);*/
    }

        .csscanvas li.state.current {
            background-color: #26ae6e;
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12), 0px 2px 3px rgba(0, 0, 0, 0.24);
            -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12), 0px 2px 3px rgba(0, 0, 0, 0.24);
            -moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12), 0px 2px 3px rgba(0, 0, 0, 0.24);
        }

    .csscanvas li.event {
        z-index: 9002;
        height: 29px;
    }

    .csscanvas li.state > ul {
        padding: 5px 10px;
        float: left
    }

    .csscanvas li.state > a,
    .csscanvas li.event > a {
        color: #fff;
        display: block;
        width: 100%;
        text-align: left;
        white-space: nowrap;
    }

    .csscanvas li.event > a {
        font-size: 0.95em;
    }

    .csscanvas li.state > a {
        font-weight: 600;
        text-align: center;
        height: 24px;
        padding-top: 6px;
        border-bottom: solid 4px #fff;
    }

