/* Green Theme CSS classes for Simplicity. */

.mdl-layout__header, .mdl-navigation__link:hover {
	background-color: #C0CA33;
}

.mdl-drawer, .mdl-layout__header-search, .mdl-layout__header-search  input {
    background-color: #acb52d;
}